[2020-01-05 01:34] MelCrypto opened #1 "Unable to add custom repo for B-Hyve Add-on"
Hello,

As recommended by the install guide I am trying to add the custom repo : https://github.com/sebr/bhyve-home-assistant to my HA config and it never loads. The error :
20-01-05 01:28:26 INFO (MainThread) [hassio.store.git] Clone add-on https://github.com/sebr/bhyve-home-assistant repository
20-01-05 01:28:29 ERROR (MainThread) [hassio.utils.json] Can't read json from /data/addons/git/6e2ba23

[2020-01-12 21:39] sebr commented on #1
Hi @MelCrypto - haven't seen this before. How did you add the repo?

My config uses `sebr/bhyve-home-assistant` with `integration` category

[2020-01-15 12:43] NotSteveAtGithub opened #2 "KeyError: 'sprinkler_type' after upgrade to 0.1.0"
upgraded from 0.0.1 to 0.1.0, now getting this error in the logs:

2020-01-15 06:40:34 ERROR (MainThread) [homeassistant.components.switch] Error while setting up platform bhyve
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 150, in _async_setup_platform
    await asyncio.wait_for(asyncio.shield(task), SLOW_SETUP_MAX_WAIT)
  File "

[2020-01-15 19:47] sebr commented on #2
Thanks for the report - fixed in 0.1.1

[2020-01-15 19:47] #2 closed

[2020-01-15 19:48] sebr commented on #1
The integration is now included as part of HACS default, so this issue is no longer relevant.

Thanks!

[2020-01-15 19:48] #1 closed

[2020-01-16 02:47] retroneo opened #3 "Does not create switch, Error messages in logs 0.1.1"
error from callback <bound method Listener.on_message of <Listener(Thread-4, initial daemon)>>: on_message() missing 1 required positional argument: 'message'

and

error from callback <bound method Listener.on_open of <Listener(Thread-4, initial daemon)>>: on_open() missing 1 required positional argument: 'ws'

[2020-01-16 03:25] monsieurlatte commented on #3
I was able to add the switch, you have to wait until you add the new setup first then add the switch.  However I get this when I try to toggle switch.

object NoneType can't be used in 'await' expression
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/components/websocket_api/commands.py", line 133, in handle_call_service
    connection.context(msg),
  File "/usr/sr

[2020-01-16 05:51] sebr commented on #3
@retroneo can you please check you have the latest version installed? That code doesn't look like it's coming from my integration

@monsieurlatte I have fixed this issue in `0.1.2`. Thanks for reporting!

[2020-01-18 13:43] retroneo commented on #3
got it working with 0.1.2. Thanks!

Any chance you can extract the flow rate while the sprinkler is running?

[2020-01-19 07:55] sebr commented on #3
@retroneo thanks, I’ll close this issue out!

Would be happy to add support for the flow data however will need you to do some debugging for me (my flow sensor doesn’t work as it doesn’t use enough water)

I’ll create a new issue for it.

[2020-01-19 07:55] #3 closed

[2020-01-19 09:17] sebr opened #4 "Report device flow data"
Some devices contain a water flow sensor. Where present, it should be exposed in HA.

[2020-01-19 10:02] sebr commented on #4
@retroneo - following on from #3, can you please update to version `0.1.3` and enable debugging by adding the following to your `configuration.yaml`:

[code]

Please restart HA and provide me with the API response for your devices - it should be logged in `home-assistant.log`. I have redacted attributes `address`, `location` and  `full_location` but please check there is no other sensitive data on

[2020-01-22 10:24] Pirol62 commented on #4
[code]

[2020-01-22 10:53] sebr commented on #4
@Pirol62 unfortunately your device is also returning:

`'flow_sensor': None`

Have you run a flow test recently? What happens after you do this?

[2020-01-22 11:23] Pirol62 commented on #4
oh, did not. But I did last summer when I bought the device.
In the meantiem I had to reinstall the device and at that time, I forgot to do the test :-(
At the time being, it is not installed due to wintertime but even active in order to do some tests

[2020-01-24 05:09] retroneo commented on #4
2020-01-24 15:59:04 DEBUG (MainThread) [custom_components.bhyve] Devices: [{'last_connected_at': '2020-01-23T20:30:56.923Z', 'address': 'REDACTED', 'timezone': {}, 'full_location': 'REDACTED', 'firmware_version': '0030', 'name': 'Hub', 'type': 'bridge', 'updated_at': '2020-01-23T20:30:56.923Z', 'reference': '12345', 'mac_address': '12345', 'mesh_id': '5dfdb40d4f0c4753e439662d', 'status': {'waterin

[2020-02-18 02:49] jaganath-b opened #5 "Unable to retrieve watering program if the smart watering is disabled"
Hi,
Thanks for your great work with this integration. I just completed the setup and everything seems to be working fine except the watering program. It works ONLY if the smart watering is "ON". I have enabled the regular program mode in the Bhyve which waters based on the manually set schedule. Is there is any option to retrieve the watering program even if the Smart Watering is "OFF".

Thanks ag

[2020-02-18 10:14] sebr commented on #5
Hi @jaganath-b
Sure, have the data so it would be fairly straightforward. I would love your thoughts on how to make it available, however.

For smart watering programs, the API reports a list of watering dates & times, similar to this:
[code]

However for manual programs, the API doesn't report the calculated day/times, but rather the base configuration:

[code]

I could add the frequency & run ti

[2020-02-18 11:58] jaganath-b commented on #5
Hi @sebr ,

Yeah, that should help. All i need is to come up with the next watering schedule (date & time) using these parameters. I presume these fields can be used in templates to come up with the schedule. Can you also include start times field?

[2020-02-20 03:55] sebr commented on #5
@jaganath-b is there a reason you closed this? I have yet to implement this change. If you no longer need it or have another solution it would be helpful to know this.

[2020-02-20 04:05] jaganath-b commented on #5
Sorry mate...I closed it by mistake..reopened it now..I'm still looking forward for your change.. thanks

[2020-02-20 10:41] #5 closed

[2020-02-20 11:11] sebr commented on #5
@jaganath-b give version `0.1.9` a shot

[2020-02-20 22:48] jaganath-b commented on #5
Hi @sebr .
I could see 0.1.8, but not 0.1.9 yet

[2020-02-21 12:08] jaganath-b commented on #5
@sebr ,
Updated to 0.1.9, but still couldn't see the frequency & start time if its set to manual. Below is the zone parameters when its set to manual. Smart watering enabled parameter shows as **true** even though i disabled it in the Bhyve app. Let me know if you need any more info. Thanks again for your help.

manual_preset_runtime: 600
smart_watering_enabled: true
sprinkler_type: rotor
image_ur

[2020-02-21 20:38] sebr commented on #5
@Jaganath-b

Can you please enable debug logging as per the readme and restart HA? Once you’ve done this the device list and watering program will be printed to the log. Can pase share this?

Thanks!

[2020-02-23 00:02] jaganath-b commented on #5
@sebr ..here you go
Devices: [{'last_connected_at': '2020-02-20T13:32:44.873Z', 'address': 'REDACTED', 'water_sense_mode': 'auto', 'scheduled_modes': {'auto': {'at': '', 'annually': False}, 'off': {'at': '', 'annually': False}}, 'timezone': {'dst_offset': 0, 'raw_offset': 36000, 'timezone_id': 'Australia/Sydney', 'timezone_name': 'Australian Eastern Standard Time'}, 'full_location': 'REDACTED', 'w

[2020-02-24 12:50] nnhhuu opened #6 "switch creation error after update to 0.1.9"
Good morning,

over the weekend I updated the component to the latest version (0.1.9), in the new version there is an error creating a switch.

2020-02-24 07:36:59 DEBUG (MainThread) [custom_components.bhyve.switch] Watering program {'name': 'Todo', 'program_start_date': None, 'frequency': {'type': 'days', 'days': [1, 3, 5]}, 'program_end_date': None, 'updated_at': '2020-01-16T15:33:09.426Z', 'upd

[2020-02-25 10:05] sebr commented on #6
@nnhhuu are you sure that the integration was updated to v 0.1.9 correctly?

The message included in your thread was removed in 7b281d0 and there was a subsequent fix for a startup issue which looks very similar in 0367e4a.

It looks like you may have updated to v 0.1.8 which had this issue.

[2020-02-25 13:40] nnhhuu commented on #6
problem solved, i uninstall and install it again,  Thank you ...

[2020-02-25 13:40] #6 closed

[2020-03-07 21:47] benny2790 commented on #4
@sebr below is a snippet from a faucet timer from the logs.

`'flow_sensor': {'cycle_run_time_sec': 0, 'flow_rate_gpm': 0.38402}`

hopefully this helps

[2020-03-09 09:20] sebr commented on #4
@Benny2790 thanks, definitely looks useful! Where in the logs did you get this data from?

[2020-03-12 02:39] NotSteveAtGithub opened #7 "error adding devices in 0.1.9"
I've had two hub/timer combinations working since the very first release.  Recently I bought two more and added them in the app.

After the next restart, I'm getting these errors:

2020-03-11 21:15:26 ERROR (MainThread) [homeassistant.components.binary_sensor] Error while setting up bhyve platform for binary_sensor
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/hel

[2020-03-12 05:27] #7 closed

[2020-03-12 05:35] sebr commented on #7
@NotSteveAtGithub I've tracked down the error and published v0.1.10. Can you please update and take a look?

It's interesting that your device is not returning any `rain_delay` attribute. If you wouldn't mind [enabling logging](https://github.com/sebr/bhyve-home-assistant#debugging) (packet dump not required) and sending the `devices` object from your console that would help me ensure that your de

[2020-03-12 11:19] NotSteveAtGithub commented on #7
@sebr Thanks for the quick fix!  After upgrade to v0.1.10, battery_level and rain_delay are present on the new device, and rain_delay is back to normal for the older devices.  I don't yet see the switch or the zone state for the new device.  Will try to get a log to you this evening.  Thanks again!

[2020-03-12 22:48] NotSteveAtGithub commented on #7
Here's the devices object:

2020-03-12 17:43:55 DEBUG (MainThread) [custom_components.bhyve] Devices: [{'last_connected_at': '2020-02-25T03:29:39.653Z', 'address': 'REDACTED', 'timezone': {'dst_offset': 3600, 'raw_offset': -21600, 'timezone_id': 'America/Chicago', 'timezone_name': 'Central Daylight Time'}, 'full_location': 'REDACTED', 'firmware_version': '0030', 'name': 'North Hub', 'type': 'bridg

[2020-03-13 11:08] NotSteveAtGithub commented on #7
@sebr , after digging through the data above and comparing the ones with and without rain_delay, it seems that this only happens if the new device doesn't have any programs defined in the app.  My hope in all of this was to do as absolutely little in the app as necessary so I could control it all from HA.  So for now I've figured out a workaround - define a program even if you're not going to use

[2020-03-15 08:34] sebr commented on #7
Thanks for looking into this @NotSteveAtGithub ! I don't blame you for wanting to do as little as possible in that app 🙈

[2020-03-22 05:47] Narraman opened #8 "Manual Switch"
The manual turn the switch on call includes the manual_preset_runtime in seconds but bhyve is expecting minutes, so if Bhyve is setup with a manual run of 30 minutes it returns a manual_preset_runtime of 1800s to home assistant but the manual switch call then returns 1800 to bhyve which it interprets as 30hrs and then it appears it will only accept 12hours so uses this. When I divided the preset_m

[2020-03-22 09:10] sebr commented on #8
Brilliant, thanks for catching this

[2020-03-22 09:14] #8 closed

[2020-04-04 08:04] Pirol62 opened #9 "permanent breakdown of the interface to the server"
HA 107.7
bHyve 0.1.10

Once a day, I have these errors:
[code]
[code]
Only a HArestart can reestablish the interface

[2020-04-06 04:40] sebr commented on #9
This is likely because your OpenSSL implementation doesn't support weak ciphers.

Unfortunately, `api.orbitbhyve.com` rates a big fat red **F**: https://www.ssllabs.com/ssltest/analyze.html?d=api.orbitbhyve.com&hideResults=on

<img width="1103" alt="Screen Shot 2020-04-06 at 2 38 48 pm" src="https://user-images.githubusercontent.com/81972/78523553-7ffa2380-7814-11ea-9c6d-ba4f0fec7ee0.png">

[2020-04-06 06:52] Pirol62 commented on #9
Hmmm, thanks for the information. As this is not really my knowledge area I do have some difficulties to get my learnings out of that. Do I have to change something or do I have to live with that?
Maybe I have to implement a fallback because I automated my irrigation starting next month. If it is not reliable, then I need a push-message in order to start irrigation via bHyve web interface.

[2020-04-06 09:16] sebr commented on #9
What system are you running HA on?

[2020-04-06 13:06] Pirol62 commented on #9
Rasp 3+ and Hassio

[2020-04-06 13:20] sebr commented on #9
No idea mate, sorry. I have no experience with Hassio. I think it's related to your deployment, but I also find this quite odd that it only happens occasionally. Can you please [enable debug logging](https://github.com/sebr/bhyve-home-assistant#debugging) and see if there are any patterns you can ascertain?

[2020-04-06 14:48] Pirol62 commented on #9
Ok, will do that as soon as I'm in home Office. It could be, that the problem is in my DSL connection. I had some strange interruptions during the last two weeks in connection with fluctuations in bandwidth. I will keep that under investigation.

[2020-04-06 23:31] sebr commented on #9
Ah that's interesting. I'll see what I can do about putting in reconnection attempts.

[2020-04-11 07:07] Pirol62 commented on #9
Hi, I had this error never again but:
I had to replug the bHyve-Hub, so the connection was obviously broken. After the device had reconnected to my wireless lan, the battery sensor returns available, the switch and the raindelay sensor not. I had to restart HA. So your idea to implement some reconnection functionality in case of broken contact might be the right idea :-)
If you like, we can close

[2020-04-15 08:33] Pirol62 commented on #9
Error did not appear again. I close this issue

[2020-04-15 08:33] #9 closed

[2020-04-20 13:44] ae8u opened #10 "Need Setup help Please"
I had this working and then I crashed my system and I am trying to rebuild it. Now for the life of me I cannot figure out how I got it to work the last time. I do not have something set correctly in my yaml files, but not sure what. It is not seeing the B-hyve controller, which has a fixed IP address set by my router. How do I get HA to recognize the controller?

Thanks,
Mike

[2020-04-21 01:38] sebr commented on #10
Hi Mike,
The integration polls the b-hyve servers and don't interact directly with your devices. Are you able to see your devices in the app or when visiting https://my.orbitbhyve.com/ ?

If you can't see them here, there are probably other connectivity issues with your network/devices.

If you can, then it's likely a configuration error in HA. You'll probably need all of these:

[code]

If you do

[2020-04-21 13:43] ae8u commented on #10
Hi Seb, All devices show on my smart phone app. But on the https://my.orbitbhyve.com site only one device shows. Just got off the phone with their tech support. Apparently they have a problem on their end.  Only the first paired device is showing right now and they are trying to fix it.So does that mean the HA  interface will not work until they get it fixed? Thanks, MikeSent from my T-Mobile 4G L

[2020-04-21 23:35] sebr commented on #10
Hmm not sure if this would impact the HA integration.

If you wouldn't mind [enabling logging](https://github.com/sebr/bhyve-home-assistant#debugging) (packet dump not required) and sending the `devices` object from your HASS log that would help me look into things on my end.

[2020-04-22 19:00] monsieurlatte opened #11 "Rain delay cause doesnt fill in after initial fill in (BUG) but not a huge deal."
I have noticed that in HA (all builds that I have used with b-hyve) the first rain delay reason, IE it will say rain or freeze or whatever, but then after that it will have no data in there (until I restart HA again).

[2020-04-23 02:28] ae8u commented on #10
Seb,I think I have logging enabled.  However,  the debug file is empty.MikeSent from my T-Mobile 4G LTE Device
-------- Original message --------From: Seb Ruiz <notifications@github.com> Date: 4/21/20  21:34  (GMT-05:00) To: sebr/bhyve-home-assistant <bhyve-home-assistant@noreply.github.com> Cc: ae8u <mikeernst50@gmail.com>, Author <author@noreply.github.com> Subject: Re: [sebr/bhyve-home-assistan

[2020-04-23 04:00] sebr commented on #10
the HA log definitely shouldn't be empty - perhaps it's being logged to a different file?

[2020-04-24 06:29] #11 closed

[2020-04-24 06:32] sebr commented on #11
@monsieurlatte thanks for the report, I've released a fix in version `0.1.12`

[2020-04-27 01:17] sebr commented on #10
@ae8u how did you go with this?

[2020-04-27 03:34] ae8u commented on #10
Seb,Thanks for following up.  I got it to work partially.  It was not seeing the faucet timers,  just the hub. I think it is due to a problem with z wave.  I had a SmartThings hub running while I was switching over to Home Assistant. That was causing issues with z wave. I have been fighting for several days now trying to get z wave running in Home Assistant with no luck. So the faucet timers will

[2020-04-27 03:42] sebr commented on #10
@ae8u I think the faucet timers communicate with the hub using Bluetooth. Maybe you need to reset them?

[2020-04-28 14:23] ae8u commented on #10
Seb,

Thank you so much for all your help. I had already tried resetting them to no avail. I ended up needing to remove everything from my.orbitbhyve.com and then adding it back. Now all is working.

Thanks again for great software!!!

Mike

From: Seb Ruiz <notifications@github.com>
Sent: Sunday, April 26, 2020 11:43 PM
To: sebr/bhyve-home-assistant <bhyve-home-assistant@noreply.github.com>
Cc: ae

[2020-04-28 20:15] sebr commented on #10
Cheers glad to hear

[2020-04-28 20:15] #10 closed

[2020-05-20 15:00] mdegat01 opened #12 "Deprecation warnings from component on 0.110.0"
I ran check config before upgrading to 0.110 and received these warnings from its output:
[code]
Since these are only warnings I assume the integration still works for now (haven't actually upgraded yet, working out other issues first).  But wanted to get an issue down to let you know.

Ludeeus has been linking to [this blog post](https://developers.home-assistant.io/blog/2020/05/14/entity-class-n

[2020-05-21 00:45] #12 closed

[2020-05-21 00:45] sebr commented on #12
Fixed - thanks for the report!

[2020-05-21 20:06] CloudWolf99 opened #13 "Last watering"
Getting last watering date and time value.

[2020-05-21 20:08] CloudWolf99 opened #14 "Enable/Disable watering programmes"
Possibility to enable/disable the watering Programmes

[2020-05-25 10:47] sebr commented on #13
This is not straightforward with bhyve. Can you keep track using a tempate sensor?

[2020-05-25 12:05] texiun commented on #14
I'm currently using a template to return the current program with a value template. You could use a switch based on this?

Considering there is only a possibility of 3 programs A,B,C (AFAIK) Could you base it around this? Direct the switch to only be visable based on the program shown? IE, IF Prog A active do not show B/C?

`        value_template: >-
                    {%- if states.switch.garde

[2020-05-25 12:16] sebr commented on #14
I have a prototype with this working — if you feel up to testing version [0.2.0-alpha.1](https://github.com/sebr/bhyve-home-assistant/releases/tag/0.2.0-alpha.1) that would be much appreciated!

You’ll need to enable beta releases in HACS to install it.

[2020-05-25 12:34] texiun commented on #14
Just installed it, Should it be listed as a new switch or should i need to reference the program name?

[2020-05-25 12:41] sebr commented on #14
They should be new switches. Make sure you restart HA, new HACS is a bit confusing like that

[2020-05-25 13:20] texiun commented on #14
Looks like it's creating everything on setup nicely!
[code]

[2020-05-25 19:38] TheGardenMonkey opened #15 "Sensor Rain delay errors on startup"
The following appears in my home-assistant log upon every restart for the `rain_delay_*_remaining` and `rain_delay_*_finishing` for each device:

[code]

[2020-05-25 21:32] sebr commented on #14
I'll take a look at this too

[2020-05-25 21:56] texiun commented on #14
So everything looks to work pretty well. I've checked all my switches and it updates the info accordingly, pretty nice job that it pulls down the program name! I did notice however, Any changes i'd make Orbit side would take a restart to reflect on HA, Is this by design or is there a polling method timeout you're using?

PS - Is there anywhere I can buy you a coffee?

[2020-05-25 22:32] sebr commented on #14
Nope, just haven't finished it yet :)

That's so kind of you, thanks! Here you can [buy me a coffee](https://www.buymeacoffee.com/sebr)!

[2020-05-25 23:53] sebr commented on #15
Those `rain_delay_finishing` and `rain_delay_remaining` sensor examples are a bit... fragile. They were indicative only.

However - I do have a `python_script` which creates and updates sensors to do this which I'll package up into a release. Will need a day or two to publish a beta release.

[2020-05-26 13:14] sebr commented on #15
@TheGardenMonkey turns out HACS doesn't support bundling both a custom component and a python script so you'll need to install it manually. Check out the docs here: https://github.com/sebr/bhyve-home-assistant#python-script

NB: You'll need to upgrade to version [0.2.0-alpha.2](https://github.com/sebr/bhyve-home-assistant/releases/tag/0.2.0-alpha.2)

[2020-05-26 17:18] TheGardenMonkey commented on #15
I can't figure out how to do the alpha / beta installs in HACS anymore lol. Any advice for how to do the upgrade in HACS or do I have to do it manually?

...And a huge thank you for this. I was giving up that we would ever get the bhyve ecosystem into HA. I have 3 active timers (i have a boxed one as well) and I would definitely like to help with any beta testing (or coding) you need for enhanceme

[2020-05-27 00:57] sebr commented on #15
Go to HACS → Orbit BHyve → Reinstall → Show Beta Versions
<img width="383" alt="Screen Shot 2020-05-27 at 10 57 01 am" src="https://user-images.githubusercontent.com/81972/82964436-cd229680-a008-11ea-9db0-3c64ee179ec3.png">
<img width="789" alt="Screen Shot 2020-05-27 at 10 57 31 am" src="https://user-images.githubusercontent.com/81972/82964464-df9cd000-a008-11ea-8368-513faff43e98.png">

[2020-05-27 09:16] texiun commented on #13
Evening Seb! I was just looking through the https://techsupport.orbitbhyve.com/ (Which is what orbit provided we use rather than their own system) and i noticed there's an option of Watering history.

Could this be useful?
![WaterHistory](https://user-images.githubusercontent.com/538668/83001005-79d33700-a04e-11ea-897d-130e4f514c7c.png)

[2020-06-02 03:26] sebr commented on #15
Did you manage to test this at all @TheGardenMonkey ? Keen for some feedback before releasing to the wild :)

[2020-06-02 03:35] TheGardenMonkey commented on #15
I did but it isn't updating, it is creating the sensors but just getting None for the next watering. I will attempt to debug in the morning.

[2020-06-03 02:35] TheGardenMonkey commented on #15
From what I see it is looking for an attribute that isn't on my devices. Line 40:
[code]

...my devices do not have a watering_program attribute as far as I can tell.  Instead there is a "switch.program-name_program" that has a start_times and days attribute that looks like it should be parsed for the correct time.

Are you on discord, maybe I can send you some of the details of what mine look lik

[2020-06-03 04:57] sebr commented on #15
Yep i'm in the HA server as `sebr`. Ping me there!

[2020-06-11 10:10] sebr commented on #14
This has been implemented and released in version [0.2.0-alpha.1](https://github.com/sebr/bhyve-home-assistant/releases/tag/0.2.0-alpha.1)

[2020-06-11 10:10] #14 closed

[2020-06-11 12:54] jjlawren commented on #4
Do you still need reporting data examples for this?

[2020-06-13 19:26] psicard opened #16 "bhyve_next_watering.py - Error executing script: 'device_name'"
When I try to run the bhyve_next_watering.py script, I get the error "Error executing script: 'device_name'"
I am calling the service "python_script.bhyve_next_watering" with "entity_id: switch.back_trees_zone".  I only have one zone at the moment.

Not sure if this will help...
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/components/python_script/__init__.py", l

[2020-06-13 23:05] sebr commented on #16
The script currently only works when using the latest alpha of this integration, apologies for not making that clearer. I’ll clear that up in the readme

[2020-06-14 11:07] sebr commented on #16
I've fixed the confusion by keeping version `0.1.x` on the `main` branch, and the `0.2.x` version on branch `develop`. This means the readme shows the current stable documentation.

[2020-06-14 11:07] #16 closed

[2020-06-15 13:50] qwserty opened #17 "If HA reboots during auto program run it turns off sprinklers"
If during the automation program and the sprinklers are running and HA gets rebooted it causes the currently running program to stop and turns off the sprinklers.

I've noticed that if an automation trigger in HA goes off it switches the system to manual while HA is in control and stops any running program. I've changed my automation system to not run during the bhyve program run times to avoid th

[2020-06-15 20:21] jjlawren commented on #4
I haven't dug into this at all, but an observation on the behavior of the official app. I've noticed that when checking on the current usage/flow rate, it reports as zero when first viewing and then after 1-2 seconds it starts updating frequently. Perhaps there's a command/subscription that must be sent in order to receive live updates of usage data?

[2020-06-16 03:49] sebr commented on #17
@qwserty the integration itself doesn't set any state for the entities on boot, but it's quite possible that when HA restarts it tries to set the last known state.

Can you please share your automations so I can take a look?

[2020-06-16 04:37] qwserty commented on #17
I do not have an automation for the sprinkler system in HA at least not one
that runs the actual sprinkler system. I do have a program on the bhyve
unit that runs the sprinklers and sensor.backyard_sprinklers_zone_state is
always in auto., but I do have some motion detection that sets off some
sprinklers to keep animals out of our flower beds. When those go off the
state switches to manual, but it

[2020-06-16 23:33] sebr commented on #17
@qwserty I can't see any obvious reason as to what would be causing this. Can you help me understand how you use the `sprinkler_security_zone_state` entity? Where/how do you change the value from `auto` to `manual` ?

The only thing which I can guess might be happening is unexpected triggers for the automations - the automations will be invoked if only entity attributes change (even if the state v

[2020-06-16 23:34] sebr commented on #13
Yep this could be used. Would you expect it as an attribute on the `zone` or as it's own `sensor` attribute?

[2020-06-19 22:19] rob51i03 opened #18 "Battery Level Unknown"
Home Assistant 0.111.4
HACS 1.1.0
byhve-home-assistant 0.1.13
B-hyve Wireless Hub Firmware 0022
B-hyve Smart Hose Timer Firmware 0041

Entities created in HA and returning values:
- switch.back_yard_zone : off
- sensor.back_yard_zone_state : auto
- binary_sensor.rain_delay_smart_hose_timer_1 : off
- sensor.battery_level_smart_hose_timer_1 : unknown

Battery level sensor always shows Unknown (curre

[2020-06-20 05:10] sebr commented on #18
@rob51i03 can you please check that there isn’t a duplicate entity that was created, and if not then please enable debug logging and provide me your devices output from the HA log

[2020-06-20 15:32] rob51i03 commented on #18
Hi @sebr, this might actually be a B-hyve problem rather than an integration problem. I checked the smart hose timer status on https://techsupport.orbitbhyve.com and the battery level isn't showing there either. I've raised it with Orbit tech support, hopefully they can resolve that issue and then I'll re-check HA.

[2020-06-20 16:20] rob51i03 commented on #18
Confirmed, this was a B-hyve problem. Now the issue with B-hyve is resolved, the battery sensor info is coming through to HA correctly.

[2020-06-20 16:20] #18 closed

[2020-06-22 03:02] sebr commented on #17
@qwserty did you make any progress on this?

[2020-06-22 04:51] qwserty commented on #17
Not really, but I haven't had time to mess around with it lately.. I've
completely disabled the auto system on the sprinkler controller now and
have home assistant running it all and that seems to have fixed the
problem. Now if the sprinklers are on and the computer resets for some
reason the controller holds the current running zone and time home
assistant sent and doesn't shutdown.

Thank

On Su

[2020-06-22 04:53] sebr commented on #17
Very well, I'll close this issue then :).

Please let me know if you take another look and can provide more info - happy to help where I can!

[2020-06-22 04:53] #17 closed

[2020-06-22 04:59] qwserty commented on #17
Sure thing.. Thank you.

On Sun, Jun 21, 2020 at 10:53 PM Seb Ruiz <notifications@github.com> wrote:

[2020-06-23 08:59] MnM001 opened #19 "Install help please"
HI,

I have installed HACS and added this repo in there.
Now I am stuck.
Where do the below go to? What files and location? (sorry kind of new to this).

bhyve:
  username: !secret bhyve_username
  password: !secret bhyve_password

sensor:
  - platform: bhyve

binary_sensor:
  - platform: bhyve

switch:
  - platform: bhyve

[2020-06-23 12:21] sebr commented on #19
This information goes in your `configuration.yaml` file

https://www.home-assistant.io/docs/configuration/

[2020-06-23 12:21] #19 closed

[2020-06-24 12:13] AlexVercammen commented on #15
I've installed your HACS last weekend and it was a flawless installation. The only struggle I had was with the sensor templates.
They would only refresh after restarting. So I've created then added the "entity_id: sensor.time" to the templates. Also I change the timestamp to a custom and just get the day of the next watering.
I have NOT updated to your latest version yet! So this could be irreleva

[2020-06-24 12:15] AlexVercammen commented on #15
@sebr . This is my 1st comment ever which explain my modest skill pinging someone in particular instead of the group.
My apologies.

[2020-06-24 12:21] AlexVercammen commented on #15
@sebr . I forgot to ask. Can the Rain Delay sensor icon change when its state is off?
Obviously the remaining delay is 0 at that time.

[2020-06-24 12:30] #4 closed

[2020-06-24 18:33] gdlesage opened #21 "lost zone states for all except zone one with update to version 1.0.0"
First great work

updated to version 1.0.0 and saw all the new features which are great, but I lost the zone state sensor for all zones with the exception of zone 1.  I uninstalled, removed all bhyve entities, reinstalled with same results.  My debug file suggests zones 2,3 and 4 states are recognized and are activated (below) but still no zone states show in entities list or in lovelace.  Strange

[2020-06-24 21:28] sebr commented on #21
@gdlesage Thanks for the report - do you think you could also send the debug output for the devices json dump which should be written to the log with debug enabled?

Thanks!

[2020-06-24 21:52] CrouchingWorm commented on #21
I'm having a similar problem.
Thanks so much for this integration!

[2020-06-24 22:40] gdlesage commented on #21
not sure what you mean by "devices json", but searching log shows many errors related to apparent missing JSON files,  1220 examples found, most are duplicates with some shown below.   Give me a little more info on what you need and Ill make the search
    On Wednesday, June 24, 2020, 05:28:30 PM EDT, Seb Ruiz <notifications@github.com> wrote:

@gdlesage Thanks for the report - do you think you co

[2020-06-24 23:49] #21 closed

[2020-06-24 23:49] sebr commented on #13
Released in v2.0.0

[2020-06-24 23:49] #13 closed

[2020-06-24 23:54] sebr commented on #21
I've fixed this issue with version [`2.0.0`](https://github.com/sebr/bhyve-home-assistant/releases/tag/2.0.0)

Note that to fix this issue I needed to introduce breaking changes so the entities will be recreated. I suggest deleting the old ones and renaming the `*_2` entities.

I have also changed the State sensor logic to create only one sensor per device - rather than one per zone. It was incorr

[2020-06-25 04:09] kkellner opened #23 "Startup errors with v2: Entity id already exists & unsupported operand on round(gallons * 3.785, 2)"
Home Assistant 0.111.4

Updated to newest version 2.0 of bhybe integration and now get the following errors at startup:

Error 1
[code]

Error 2
[code]

[2020-06-25 04:43] sebr commented on #23
@kkellner thanks for the report! I think the issues are fixed with 2.0.1.

[2020-06-25 04:49] #23 closed

[2020-06-25 04:50] kkellner commented on #23
Confirmed that 2.0.1 fixed both issues.   Nice job on this integration!

[2020-06-26 01:38] CrouchingWorm opened #24 "All Entities States are unknown"
Hi,
Apologies I don't have logs to provide as my .bhyve directory doesn't seem to have anything in it..
I think I've enabled Debugging per your guide.

Problem:
Since version 1.00 I've not been able to connect to my bhyve account.
Each of my Entities have unknown states.
I did see a websocket error in the log, hence I enabled debudding, but can't seem to see the dump files.
I've restarted HASSIO a

[2020-06-26 01:55] sebr commented on #15
@AlexVercammen those sensors are a bit out of date and quite brittle. I would suggest moving to the [python_script](https://github.com/sebr/bhyve-home-assistant#python-script) which I have written to solve this problem more reliably.

[2020-06-26 02:07] sebr commented on #24
@CrouchingWorm the will be in the `home-assistant.log` file not in the `.bhyve` directory :)

Can you also please upload a screenshot of your entities page filtered with `bhyve`?

<img width="1286" alt="Screen Shot 2020-06-26 at 12 06 47 pm" src="https://user-images.githubusercontent.com/81972/85813030-8493ff80-b7a5-11ea-8e6c-e826394d8e64.png">

[2020-06-26 02:09] sebr commented on #15
@TheGardenMonkey haven't forgotten about this issue mate, just lost for time!

[2020-06-26 02:10] CrouchingWorm commented on #24
I'm removing all the entries, removing the integrations, then re-apply
(restarting really), I'll let you now.
Thanks for the speedy response!

On Fri, 26 Jun 2020 at 12:07, Seb Ruiz <notifications@github.com> wrote:

[2020-06-26 02:19] CrouchingWorm commented on #24
[image: image.png]

bhyve:
  username: me@me.com
  password: some_password

switch:
  - platform: bhyve
sensor:
  - platform: bhyve
  - platform: template
    sensors:
      rain_delay_gardenbed_finishing:
        friendly_name: "Rain Delay Garden Bed Finishing"
        availability_template: "{{
states('binary_sensor.rain_delay_smart_hose_timer') != 'unavailable' }}"
        value_template:
"{{(a

[2020-06-26 02:23] CrouchingWorm commented on #24
:) thank you. I'll look in there. I think I've new entities now (_2) which might be working..

[2020-06-26 02:27] CrouchingWorm commented on #24
I think we're all good. I'll go an remove the original entities!
You're great thank you.

[2020-06-26 02:28] #24 closed

[2020-06-26 02:28] CrouchingWorm commented on #24
Thank you again.

[2020-06-26 02:52] TheGardenMonkey commented on #15
No worries brother, I figured and all good. I can tell this is a bit tricky based on how that data comes in. Let me know if you need me to do anything. I was going to try to work on it myself but work has been busy.

[2020-06-27 20:41] CursedDog19 opened #25 "Service bhyve.set_manual_preset_runtime does not function"
I tried to call the service in node red with the data entry { "minutes":2 } and the specified zone still ran for 10 minutes.
I also tried to call the service in home assistant to no avail.

[2020-06-28 12:31] qwserty commented on #25
What service are you calling? You have to use bhyve.start_watering
This is my setup in my automation.yaml and works just like it should. I've haven't done anything in node red yet so I'm unsure if it would be different, but you can't use the switch.turn_on service call it has to be bhyve.start_watering or the system will just default to the 10 minute timer.

- id: 'Irrigation Front yard'
  alias:

[2020-06-28 12:47] qwserty opened #26 "Sprinklers still on, but switch showing off"
It isn't every time, but about 75% of the time the history shows that automation turned on the sprinklers and then a few seconds later will show the sprinklers off again. The sprinklers DO NOT shutoff, but home assistant is showing that they are off. Makes it difficult to know if everything is working like it should and that your sprinklers ran the proper length of time by checking the history.

T

[2020-06-28 16:57] CursedDog19 commented on #25
In a recent update there was a service added called “bhyve.set_manual_preset_runtime” which can chance the manual preset runtime for any or all stations. What I’m trying to do is create an input number in frontend that calls that service each time it is changed. Then, whenever someone turns on a station, it will run for x minutes which is determined by the input number.
My issue is that this servi

[2020-06-29 01:05] sebr commented on #26
@qwserty let me take a look - it's hard for me as I only have 1 device and 1 zone - so I have to reverse engineer support for multiple zones.

Are you referring to the zone switch or the zone history entities?

Can you please share the configuration for this automation?

If you could reply by adding a comment on github and _not_ an email reply that would be very helpful - email formatting is impos

[2020-06-29 01:07] sebr commented on #25
Yep, I think there's a bug here. It doesn't work for me anymore either - maybe it never did 🙈

In the meantime @CursedDog19 as a workaround you can use the `start_watering` service as @qwserty suggests.

[2020-06-29 02:25] CursedDog19 commented on #25
Will do. Keep up the good work!

On Sun, Jun 28, 2020 at 6:07 PM Seb Ruiz <notifications@github.com> wrote:

[2020-06-29 03:34] qwserty commented on #26
Both.. The Zone switch is off and the History is showing off (for the zone
switch), but the sprinklers will still be running until the amount of
minutes I gave it completes and if I check on the bhyve site it shows it
running with the correct amount of minutes left. Almost like that second
call to the unit which is exactly like the first call just toggles the
switch back to off, but doesn't actual

[2020-06-29 05:35] sebr commented on #26
According to your logs...

The zone is switched on here:

Then 2 seconds later is switched off:

So I made some errors assuming I understood what the `change_mode` event is used for :)

Can you share how you are starting the zone watering so I can try replicate?

[2020-06-30 12:08] sjmotew opened #27 "HACS bhyve Configuration error"
Bhyve through HACS noting following configuration error:
Platform error binary_sensor.bhyve - No module named 'custom_components.bhyve.binary_sensor'

I suspect this is due to a change in binary battery sensor, not sure how to fix.

Thanks.

[2020-06-30 21:01] sebr commented on #27
The `binary_sensor` component is no longer provided - please see the [release notes](https://github.com/sebr/bhyve-home-assistant/releases/tag/1.0.0)

[2020-06-30 21:01] #27 closed

[2020-07-02 11:18] qwserty commented on #26
Sure.. I don't know if you want the entire setup which is very large right
now, but this is the automation.yaml for just one of the zones.. Basically
the trigger is every minute with the condition of a time & day of the week
that is set in a card on the frontend. Oh and the run time is set off the
front end as well.

You know oddly enough once I completed building the entire script to get
this all

[2020-07-03 11:59] txwindsurfer opened #28 "Integration occasionally drops connectivity"
Running 2.0.1 after trying the alpha version.  Occasionally (1 per week) getting a websocket error which disconnects from the bhyve service.  After this error, the component runs services but they do not function.  No error is produced.
 by the component so apparently the component believes the websocket is still functioning correctly.  The debug log and dump show no errors.  A reboot re-establish

[2020-07-03 22:46] sebr commented on #28
@txwindsurfer I have heard of other reports that when the websocket is disconnected unexpectedly (eg a network connection drops out) that the integration doesn't correctly handle this case. I'll take a look when I can.

The error logs from the `homeassistant.components.websocket_api.http.connection` component are not related - these are from the websocket API which HA uses for lovelace frontend up

[2020-07-05 01:05] djiesr opened #29 "Since the update 112"
I got this error since the 112

_**Configuration invalide
                          Platform error binary_sensor.bhyve - No module named 'custom_components.bhyve.binary_sensor'**_

I try to uninstall and reinstall and I remove all reference to Bhyve in HA, I always got this error.

[2020-07-05 09:05] sebr commented on #29
As per the release notes, the binary sensor was removed in [version 1.0.0](https://github.com/sebr/bhyve-home-assistant/releases/tag/1.0.0) of this integration

[2020-07-05 09:05] #29 closed

[2020-07-10 18:44] jayscovill opened #31 "switch.bhyve_zone entity has two watering_program attributes"
The switch.bhyve_zone entity returns two attributes for watering_program.  Once displays an array of the next eight watering schedules.

The second returns a null value.

When trying to create a template sensor that displays the next eight watering schedules the attribute with the null value is displayed instead.

I believe this is a bug regardless of which one is the correct attribute.  It would

[2020-07-11 13:47] #31 closed

[2020-07-11 13:49] jayscovill commented on #31
This is not a bug at all...I didn't read the documentation closely enough.  The watering_program attribute is a child attribute of the program_e attribute as noted in the documentation.

{{ (states.switch.bhyve_zone.attributes.program_e.watering_program) }} returns the values for the next watering events.

{{ (states.switch.bhyve_zone.attributes.program_e.watering_program) [0,1,2,3,...] }} returns

[2020-07-12 10:03] sebr commented on #31
Hi @jayscovill glad you sorted this one out :). You can also take a look at the [bhyve_next_watering.py](https://github.com/sebr/bhyve-home-assistant/blob/main/python_scripts/bhyve_next_watering.py) script for more inspiration on creating new sensors which display the next watering time.

[2020-07-12 10:24] #26 closed

[2020-07-12 10:47] sebr commented on #26
I've released a fix in version 2.0.2, thanks for your patience!

[2020-07-12 15:05] DPH opened #32 "What models does this work with please?"
Hi, this looks really exciting. Your write up doesn't say if it works with the B-HYVE HOSE FAUCET TIMER.
Hopefully yes and I can try it out.

Cheers David

[2020-07-12 16:40] jayscovill commented on #31
Thanks! I'm giving that a go but I use Node Red and trying to do the service call from there.  It requires a domain for the service call but I can't find anywhere what I'd set that domain to for this script.  Any hints?

[2020-07-12 16:45] jayscovill commented on #31
LOL why do I always figure out the problem right AFTER I post in the community looking for help?

Figured it out.  domain: python_script: service: bhyve_watering_next_watering

[2020-07-12 18:39] jayscovill opened #33 "bhyve_next_watering.py: Difference in sensor naming between documentation and implementation"
It's me again! LOL

I just wanted to raise an issue with regards to a difference between the bhyve_next_watering.py script documentation and what I'm seeing in actual implementation.

The documentation states that the the next watering sensor will be named: `sensor.next_watering_{device_name}`

My sensor is named: `sensor.<zone name>_next_watering` where `<zone name>` is the name I gave the zone i

[2020-07-12 23:39] sebr commented on #33
You're right, thanks @jayscovill! I forgot to update the readme.

[2020-07-12 23:46] #33 closed

[2020-07-13 00:03] #32 closed

[2020-07-13 00:05] sebr commented on #32
@DPH,
I suppose I should be more explicit in the readme :). Yes, the integration is designed for the faucet timer. You will need the wifi hub to provide internet connectivity to the hub (bluetooth is not supported).

[2020-07-13 08:03] DPH commented on #32
Thanks for your fast reply.
Cheers David

On Mon, 13 Jul 2020 at 01:05, Seb Ruiz <notifications@github.com> wrote:

[2020-07-15 20:08] vmcosco commented on #15
I ma attempting to use the python script.  When I run it via a service call, I get the following error:

  File "/usr/src/homeassistant/homeassistant/components/python_script/__init__.py", line 205, in execute
    exec(compiled.code, restricted_globals)
  File "bhyve_next_watering.py", line 6, in <module>
  File "/usr/src/homeassistant/homeassistant/core.py", line 904, in get
    return self._stat

[2020-07-15 21:11] vmcosco commented on #15
Having an issue with the python script _rain_delay_finishing returning "None" when I have a delay that started at 2020-07-15T15:36:41-04:00 with a delay of 24.  The _next_watering is also returning "None" despite having a program on (albeit on a rain delay right now).

[2020-07-16 00:41] sebr commented on #15
@vmcosco I've pushed a change which adds some extra logging - can you check that out and see if you get any errors in the log? If you are still having troubles, can you please create a new issue with as many details as possible? Thanks!

[2020-07-16 00:41] sebr commented on #15
@TheGardenMonkey I'm going to close this issue as the original startup errors have been fixed. I am aware of the limitation of the next watering script ignoring non-smart watering programs :)

[2020-07-16 00:41] #15 closed

[2020-07-16 13:21] vmcosco opened #34 "Python Script returning "None" for both sensors"
My B-Hyve is currently on a rain delay and I have a program set to run.  I ran the python script and it returned "none" for both the rain delay and next watering sensors.   There are no errors reported in the log.

I used `entity_id: switch.bhyve_front_central_zone`.  I did rename the switch entities from the default format, not sure if that could be the reason.

The script did create the followin

[2020-07-16 21:50] BornTKill opened #35 "Battery level unknown"
Dear,

First of all I would like to thank you for your awesome work!

Is there a known issue on battery level reporting ?
Currently it’s « unavailable » or « unknown » in HA.
I have a Smart Hose Tap with WiFi Hub

Thank you for you assistance.

[2020-07-16 22:59] sebr commented on #35
@BornTKill no known issues. Check that you don't have any duplicate entities with `_2`

[2020-07-17 00:48] sebr commented on #34
Hi @vmcosco

**Next watering**: Currently there is a limitation with the `next_watering` script that it only works for smart watering programs - it's on the todo to expand this to support manual programs :)

**Rain delay finish**: Did you change the entity ids for the rain delay switch too? The script assumes the rain delay entity is: `switch.{device}_rain_delay`, i.e in your case: `switch.home_ra

[2020-07-17 07:22] BornTKill commented on #35
Hello,

After a while the report is Ok. Sorry for bothering you.

[2020-07-17 07:22] #35 closed

[2020-07-17 22:21] sebr commented on #28
I just noticed this happen, will look into it more. Here are my logs:

[code]

[2020-07-17 22:49] txwindsurfer commented on #28
I am glad you saw something happen.  My bhyve didn't water this morning and no HA or .bhyve log error was produced.  The error you show would have happened between my waterings so that is likely the cause of my failure.  Turning on the switch didn't produce an error either when the websock was down and of course bhyve didn't receive the signal.  I changed my bhyve logging to info from debug so may

[2020-07-18 01:24] sebr commented on #28
Yep that's consistent with what I saw. Just need to be able to reliably reproduce.

[2020-07-19 13:50] GHSTUDIO1 opened #36 "not getting switches"
I installed this addon, added the following to my config.yaml

[code]

I see the sensors for my three orbit controllers, but I can't find any switch (or zone) entities.

[2020-07-19 20:50] sebr commented on #36
@GHSTUDIO1 have you got any errors in your log?

If you enable debug logging for the integration and restart HA, you will see the `devices` api response dumped to the log.

Can you please share that here with me?

[2020-07-19 20:59] GHSTUDIO1 commented on #36
,,,
Log Details (ERROR)
Logger: homeassistant.components.switch
Source: custom_components/bhyve/switch.py:552
Integration: Switch (documentation, issues)
First occurred: 4:56:50 PM (1 occurrences)
Last logged: 4:56:50 PM

Error while setting up bhyve platform for switch
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 178, in _async_

[2020-07-19 21:16] sebr commented on #36
Bizarre, can you enable debug logs and share your devices api response? It will be in the logs, instructions on how to do this in the readme

[2020-07-19 22:03] GHSTUDIO1 commented on #36
I added   packet_dump: true   and I see a file .bhyve but it’s empty.   Is that where you wanted me to look?

From: Seb Ruiz [mailto:notifications@github.com]
Sent: Sunday, July 19, 2020 5:17 PM
To: sebr/bhyve-home-assistant
Cc: GHSTUDIO1; Mention
Subject: Re: [sebr/bhyve-home-assistant] not getting switches (#36)

Bizarre, can you enable debug logs and share your devices api response? It will be

[2020-07-19 22:53] sebr commented on #36
Nope all you need to do is add

[code]

Then the logs will be in `home-assistant.log`

I suggest you turn off the packet dump as it will be very spammy.

[2020-07-20 12:26] GHSTUDIO1 commented on #36
[code]

[2020-07-20 15:00] GHSTUDIO1 commented on #36
USER ERROR....orbit faucet and wireless controller both installed, but not linked together.....so the wireless hub was connected and a known device, but not linked to any faucet.  but I think the program should handle.....

When I paired the hub with the faucet, restarted HA everything is working as it should.

Hopefully, there's a way to check for this situationi when you pull information from th

[2020-07-21 03:34] sebr commented on #36
Thanks @GHSTUDIO1 - that's helpful. I'll add some better error handling and log a warning when encountering this :)

[2020-07-21 03:49] #36 closed

[2020-07-22 00:27] ecfitzgerald opened #37 "Websocket closed error"
I get the following errors when I try to activate any switch.

Logger: custom_components.bhyve.pybhyve.websocket
Source: custom_components/bhyve/pybhyve/websocket.py:163
Integration: Orbit BHyve Integration (documentation)
First occurred: 3:54:54 PM (10 occurrences)
Last logged: 8:00:34 PM

Tried to send message whilst websocket closed

Maybe missed a setting somewhere?

[2020-07-22 03:57] sebr commented on #37
@ecfitzgerald can you please take a look at `home-assistant.log` and paste any logs which contain `custom_components.bhyve`?

There have been some other reports of the websocket connection dropping out (see #28) which I haven't been able to reliably reproduce to fix.

Thanks

[2020-07-22 12:35] ecfitzgerald commented on #37
You can close this and I'll follow 28, I figured out how to increase the log level and it works of course, will dig in again if it fails again.

[2020-07-22 21:10] #37 closed

[2020-07-24 00:26] txwindsurfer commented on #28
Happened again July 21 at 2:37pm CDT.  My HA logs show the following errors/warnings:
First:
[code]
Second:
[code]
And third:
[code]
BHyve is nonresponsive but shows available.  The error on 7/15 showed my Bhyve controller as unavailable.  This time the devices show as available but Bhyve controller is nonresponsive.

There a no entries in the .bhyve/packets.dmp.  If I try to use the switch for a

[2020-07-28 06:18] sebr commented on #34
@vmcosco ping, did you have a response to the above? Thanks :)

[2020-07-28 11:05] vmcosco commented on #34
I had changed the name of the rain delay switch as well. Changing the name in the script worked well

[2020-07-28 11:17] sebr commented on #34
okay thanks for the update, i'll close this ticket off as it isn't designed to support renamed entities.

[2020-07-28 11:17] #34 closed

[2020-07-30 16:53] txwindsurfer commented on #28
I don't know if this helps but I had 2 entries in the HA log (Error and Warning shown below) on 7/29 but the Bhyve controller still worked without an HA reboot.  The difference between the event on 7/15 when the controller connection was lost and required an HA reboot and the 7/29 event when the controller did not need an HA reboot was the websocket.py:130 entry occured when a reboot was required.

[2020-07-31 06:27] sebr commented on #28
Thanks @txwindsurfer - most of the time the when the websocket connection is closed it reconnects - this is what you're seeing in your latest logs, and generally good news 😄.

I'll release a new version with some better/clearer logging.

[2020-09-04 05:33] foxy82 opened #38 "Feature Request: ability to modify program start times"
One of my main frustrations with the orbit bhyve is that if I want to water at dawn there is no way to do this without manually adjusting the program start time as the dawn time changes over the seasons.

It would be amazing if I could do this using home assistant.

[2020-09-07 23:42] brucehvn opened #39 "No state data"
I'm running Hassio 0.114.4.  I've installed your integration via HACS and added the configuration params per the instructions.  After restarting HA, it creates the entity sensors, switches, etc., but the states are all "unavailable".

It seemed to pick up the name of my timer, which is "shed_misting".  I have one zone called "Zone 1".  I see a `switch.zone` entity which I'm guessing is that zone,

[2020-09-07 23:55] brucehvn commented on #39
Ok, disregard this issue.  It appears I had my phone connected to the timer via Bluetooth and apparently that keeps the integration from being able to retrieve the state info.  I disconnected the BT connection and restarted HA and the states now appear.

[2020-09-07 23:55] #39 closed

[2020-09-08 01:39] sebr commented on #39
Okay good to know @brucehvn, glad it's working now.

[2020-09-10 00:21] sebr commented on #38
@foxy82 have you considered turning off all BHyve programs and using HA to trigger watering? You could do this with a simple automation:

[code]

This would mean you'd lose the "Smart Watering" capabilities which come with the service.

[2020-09-22 23:34] sebr commented on #28
I have been testing some improvements over the past few weeks and the integration is now more resilient to connectivity drops. I've released v`2.0.3` with these fixes so I'll close this issue now. Please reopen if you see any other problems!

[2020-09-22 23:34] #28 closed

[2020-09-29 16:53] txwindsurfer commented on #28
@sebr:

My Bhyve connection closed today and was unable to reconnect without a restart of HA.  I received these errors and the packets.dump did not show any entries during this time.  It seemed to be restarting successfully for me until this last update.
Thanks for your work on this component!

Logger: custom_components.bhyve.pybhyve.websocket
Source: custom_components/bhyve/pybhyve/websocket.py:1

[2020-10-18 04:48] steveof2620 opened #40 "bhyve_next_watering.py does not run"
**Describe the bug**
An error is recorded in the Home Assistant logs when attempting to run bhyve_next_watering.py.

**Expected behaviour**
creates or updates entities named sensor.{zone_name}_next_watering and sensor {device_name}_rain_delay_finishing.

**BHyve devices**
1 x B-Hyve zone /  BHyve Hose Faucet Timer / WIFI module

**Logs**
[code]

[2020-10-18 11:05] sebr commented on #40
Oops, thanks for the report. I've fixed by reverting to an older, functioning version of the script.

Note that the script only works for devices configured on Smart Watering programs (for now)

[2020-10-18 11:05] #40 closed

[2020-10-18 21:15] steveof2620 commented on #40
Thanks for your work. Your integration is very useful.

[2020-10-21 19:57] jbrukardt opened #41 "Zone Turned Off time is not correct, actually reflects program end time rather than zone end time"
Runtime appears correctly, and zone on timestamp is correct.   However the zone off timestamp reflects when the program ends, not when the zone actually shuts off.

Turned off
2:50:00 PM - 1 hour ago
Turned on
1:59:59 PM - 2 hours ago
Turned off
6:49:59 AM - 9 hours ago
Turned on
5:59:58 AM - 10 hours ago
device name
XXXXXXXXX B-hyve
device id
XXXXX
zone name
Garden Sprinklers
smart watering enabl

[2020-10-22 02:15] sebr commented on #41
@jbrukardt what output are you expecting?

And what's the difference between the zone shutting off vs the program ending?

[2020-10-22 14:43] jbrukardt commented on #41
Additional information:

Hardware, Bhyve sprinkler controller, 8 zone, indoor

The program "new grass" runs 5 zones, each for 10 minutes.

The expected output would be for the turned off time to be 10 minutes after the turned on time.

The program end time (which is whats being reflected) is the time at which no zones are on and the entire program (all 5 zones, 10 minutes each) is complete, rather

[2020-10-23 00:49] sebr commented on #41
This is almost certainly the case - I only have the faucet timer devices which have a 1:1 mapping of zone-program.

I'd be happy to take a look and try improve the functionality to support this hardware, but in order to do so I'll need you to upload a bunch of logs and event data.

### Step 1: Enable debugging & packet dumps

Add the following to `configuration.yaml` and then restart Home Assistan

[2020-10-24 16:20] jbrukardt commented on #41
Sure thing, glad to help out.   See attached for a filtered log and the dump file.

[bhyvefiltered_homeassistant.log](https://github.com/sebr/bhyve-home-assistant/files/5433211/bhyvefiltered_homeassistant.log)

[packets.zip](https://github.com/sebr/bhyve-home-assistant/files/5433214/packets.zip)

[2020-10-25 08:45] sebr commented on #41
Thanks @jbrukardt. I've deleted the file you've uploaded as it contained some longitude/latitude location in the logs which you uploaded (these were stray HA logs, not from my integration).

[2020-10-25 10:24] sebr commented on #41
@jbrukardt I'm interested to know what data is available in the BHyve app...

From the logs and event stream which you provided, there are individual watering started events for each zone, but there is only one watering completed event:

[code]

I'm curious if the BHyve app shows this data, and if it does... then where/how.

[2020-10-26 02:59] jbrukardt commented on #41
Thanks for the clear on the lat/long, missed those.

In the bhyve app, it shows watering start times for each zone in the watering history, but no end time.   However, during a watering program, it does send push notifications when each zone finishes.

I see where you're getting at though, nowhere in the app, except when the program is running, does it have indications of zone watering complete as

[2020-10-26 15:08] dreedijk opened #42 "Feature request: switch to turn individual sensors on/off"
It would be great if it would be possible to turn individual sensors on and off for a configurable amount of time.
I have 9 BHyve Hose Faucet Timers (sensors) which are all part of the same zone, I have no automated watering program and manually turn the devices on when needed for the set amount of minutes.

[2020-10-26 21:50] sebr commented on #42
@dreedijk how does one combine multiple Faucet Timer devices into a single zone?

In my setup, where I have 3 faucet timers, they each have their own zone, and thus their own switch which can be triggered individually.

[2020-11-08 09:45] bongo121 opened #43 "Select and Run Multiple Zones in Sequence"
Hi Sebr, love your work but if i had the following feature it would be just perfect for my requirement.
I have 3 x 12 zone Bhyve irrigation controllers and would love the ability to just run specific zones in sequence.
i.e select zones 1-5 and 8-12 but not zones 6 and 7 via the lovelace card and have the controller water each of these zones in turn.
Currently when i try this i can see on the app a

[2020-11-09 00:01] sebr commented on #43
Hi @bongo121
It's not immediately clear to me what you're trying to accomplish. Is it something like this:

12 zone BHyve controller A:
* Start zone 1
* Wait til zone 1 finished
* Start zone 2
* Wait til zone 2 finished
* etc etc

Or are you trying to run zones 1-5 & 8-12 simultaneously?

----

Can you also please help me by generating debug info:

Step 1: Enable debugging.

Add the following to `

[2020-11-09 00:03] sebr commented on #42
@dreedijk anything further to add to this? I can't proceed without more info 😄

[2020-11-09 00:04] sebr commented on #38
@foxy82 any thoughts on this?

[2020-11-09 05:33] bongo121 commented on #43
Hi Seb

Thanks for getting back to me. Really appreciate your help.

Yes you are correct. I'm trying to run it as you described

12 zone BHyve controller A:

   - Start zone 1
   - Wait til zone 1 finished
   - Start zone 2
   - Wait til zone 2 finished
   - etc etc

I am not trying to run multiple zones at once.

I am running Home Assistant on a Raspberry Pi4 8G
running hassos_rpi4-64-4.15.img.gz

[2020-11-09 06:47] sebr commented on #43
@bongo121 - I can't see any good reason why this shouldn't work already. How are you turning the zones on & off? Are you running an automation, or using a script?

Also, can you also please update to version 2.0.5 (I just published) and then paste the logs after executing the sequence you described above? This will help me see what BHyve is actually doing.

thx

[2020-11-09 07:35] bongo121 commented on #43
Thanks Seb

 I have updated to version 2.0.5 and have rerun the scenario and included
the log entries below.

I have the zones setup on a lovelace card as per below image.
I selected Zone (189-190), then selected Zone(191-192) then Zone (193-194)
via the interface.
I could see on the BHyve app that once i selected zone (189-190) it started
to run for 10mins.
When i then selected zone(191-192) it c

[2020-11-09 07:56] sebr commented on #43
@bongo121 Can you please add the comment directly in GitHub. I can't see images which are attached to emails. Thanks!

[2020-11-09 08:30] bongo121 commented on #43
Hi Seb
Here is the image of the Lovelace card i use to run the sequence
![image](https://user-images.githubusercontent.com/71199200/98517305-cf7c6280-22c1-11eb-8983-243aaaebf47a.png)

and here is the image of the default lovelace screen with all of the bubble icons. One for each zone
![image](https://user-images.githubusercontent.com/71199200/98517364-ee7af480-22c1-11eb-9beb-d01abedc1735.png)

[2020-11-09 09:37] dreedijk commented on #42
You are absolutely right :-) I have contacted b-hyve support to explain to me why I cannot create any zones (so I'm stuck with one that contains all devices). I'm still waiting for a reply ...
As for now, as mentioned they are all in 1 zone. I don't use any programs, but turn them on on-demand. In other words, I select a single device, set the timer (total minutes) and turn it on. This would be gr

[2020-11-09 10:45] sebr commented on #43
@bongo121 unfortunately those aren't the logs I need - the entries will look like this:

[code]

These should be appended to `home-assistant.log` after the watering has started & finished.

As for this, the integration creates a sensor for each zone that stores the watering history - these may be getting added automatically to your lovelace dashboard by HA 😄

[2020-11-09 10:49] sebr commented on #42
You can do this - you'll just need to call a service, eg:

[code]

[2020-11-09 11:47] bongo121 commented on #43
Hi Seb

I've added the full logs below. I ran the simulation again and have copied the complete log for your reference.
It's interesting that as i select each new zone it first appears on the App on my phone before disappearing as I select the next one. Then the one that is running disappears after a couple of minutes
[home-assistant.log](https://github.com/sebr/bhyve-home-assistant/files/5510183/

[2020-11-09 21:20] sebr commented on #43
@bongo121 I've deleted the log file from github as it contained a lot of sensitive information - eg access tokens, longitude & latitude information and other PII. I strongly recommend you change your HA passwords and invalidate all access tokens.

[2020-11-09 22:26] bongo121 commented on #43
Thanks Seb, I'll put that one down to a beginners mistake :-). Thankfully i only have my HA access via the local network.
I've gone through the logs and can't find anything that specifically references Callback data or Received program data under the .bhyve label. I've included any of the [custom_components.bhyve] and [custom_components.bhyve.switch] references below

2020-11-09 22:09:52 INFO (Mai

[2020-11-10 10:15] dreedijk commented on #42
I have been in touch with Orbit and the problem has been solved. It is not at all working as you might expect. The faucet timers cannot be part of a Zone, they are a Zone. In other words, you can not add multiple timers to 1 common Zone (for example: "front yard") and have a program that covers that Zone and the timers. Each timer has its own Zone and its own programs. So in the app, when you sele

[2020-11-10 10:40] sebr commented on #42
Correct, this is what I alluded to in my initial reply.

I'll take a look when I next get a chance. However you should validate the script and syntax from the readme as I did write it from memory and I may have made an error.

[2020-11-10 15:15] dreedijk commented on #42
Don't worry about it! I figured it out.
Thanks for this excellent integration!

[2020-11-10 15:15] #42 closed

[2020-11-12 10:30] DavidPper opened #44 "Help required"
I am new to home assistant and yaml, and the first items i wanted to automate was my irrigation system.

i have no idea what i am doing as this is the first intergration i have installed using HACS.
Orbit B-hyve is listed in HACS installed intergrations, however i dont see it listed in HA intergration list.

I have copied your config file to configuration.yaml and also added my user and password t

[2020-11-12 22:24] sebr commented on #44
Hi @DavidPper
Once you've added the `bhyve` platform into `configuration.yaml`, please restart Home Assistant. The integration will retrieve your devices and you will be able to add them into your lovelace dashboard through the UI. You can see these entities in the HA configuration page if you need a reference.

Here's an example of mine:

![screenshot-rocks](https://user-images.githubusercontent.

[2020-11-13 12:21] DavidPper commented on #44
@sebr Thankyou very much, all that was needed was for me to restart Home Assistant.
This has been a massive learnig curve, i had been using openHAB for a couple of years and decided to make the switch to Home Assistant.
Again thankyou very much
Dave

[2020-11-13 12:21] #44 closed

[2020-11-20 03:00] stevearmitage opened #45 "Python script does not handle '-' in device_name consistently with rest of code"
**Describe the bug**

HA error log
homeassistant.exceptions.InvalidEntityFormatError: Invalid entity id encountered: sensor.b-hyve_reticulation_controller_rain_delay_finishing. Format should be <domain>.<object_id>

Python script does not use an underscore to replace hyphens

other entities created are:
switch.b_hyve_reticulation_controller_rain_delay
sensor.b_hyve_reticulation_controller_state -

[2020-11-22 01:07] Seanl00045073 opened #46 "Timeout error"
**Describe the bug**
 zones time out very quickly and throw up a fault message but work when manually activating even though voltage is good with brand new solanoids

**Expected behaviour**
 should be an option for a selected amount of retry attempts or an extended timer

**BHyve devices**
 6 zones

**Logs**

[code]

[2020-11-22 05:06] sebr commented on #46
What's the actual error which is provided? Please follow the instructions by providing the appropriate logs.

[2020-11-22 05:09] Seanl00045073 commented on #46
[cid:DD6B91FD-C107-48E6-9D65-A82095F8C7F9-L0-001]

- Sean

On 22 Nov 2020, at 1:06 pm, Seb Ruiz <notifications@github.com> wrote:

﻿

What's the actual error which is provided? Please follow the instructions by providing the appropriate logs.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/sebr/bhyve-home-assistant/issue

[2020-11-22 07:34] sebr commented on #46
This error is meaningless to me - where does it come from?

[2020-11-26 19:30] Flavio5 opened #47 "Set minutes service bhyve.start_watering"
Hi, it is possible to set the minutes of bhyve.start_watering service (for example in an automation) from an input_number?

I want to choose the minutes of manual irrigation from lovelace and so start the irrigation (through a script or an automation).

Thanks

[2020-11-27 10:30] shsurury opened #48 "Unable to see Bhyve under configuration/intigration of HASSIO"
I have installed HACS and am able to install Orbit Bhyve through HACS but no matter what I do I am not able to find it under configuratio/ intigration of Home Assistant. I have tried deleting the cache several time but I still cant install it. Please help.

![Screenshot 2020-11-27 213411](https://user-images.githubusercontent.com/7891577/100440028-5fab0c00-30f8-11eb-9ecc-877b238a0ece.png)
![Screen

[2020-11-29 11:47] sebr commented on #48
This integration isn't available to configure via the UI. It needs to be configured with YAML in `configuration.yaml`

Instructions on how to do this are in the [README](https://github.com/sebr/bhyve-home-assistant#configuration)

[2020-11-29 11:47] #48 closed

[2020-11-29 11:54] sebr commented on #47
Sure... take a look at the documentation for [`input_number`](https://www.home-assistant.io/integrations/input_number#automation-examples).

It might look something like:

[code]

But... you probably want this to be a script which you can trigger from a lovelace card. I'll leave that up to you to do in a manner which is relevant to your configuration :)

[2020-11-29 11:54] #47 closed

[2020-11-29 11:55] sebr commented on #46
Closing as there hasn't been any further information - please provide logs as instructed in the issue template.

[2020-11-29 11:55] #46 closed

[2020-11-29 13:03] shsurury commented on #48
Thanks Seb,
Much appreciated

Regards

Sajid Husain Surury
Food Safety Auditor & Consultant
B. Sc., M. Sc., M. App. Sc., MAIFST
RABQSA # 113236
Mobile – 0400571140<tel:0400571140>
Phone/Fax – 03 8839 0538<tel:03%208839%200538>
E mail – sajid@surury.com.au<mailto:sajid@surury.com.au>

On 29 Nov 2020, at 22:47, Seb Ruiz <notifications@github.com> wrote:

﻿

This integration isn't available to config

[2020-11-29 21:08] Flavio5 commented on #47
Thanks, I've forgotten "int".

[2020-12-02 20:48] #38 closed

[2020-12-30 23:59] precbioinf opened #49 "using templates in start_watering service call"
**Describe the bug**
I am attempting to call bhyve.start_watering with minutes specified by a template:
[code]
But it reports "expected int for dictionary value @ data['minutes']"

The "input_number.watering_time" is correctly set.
In Developer Tools, template editor, the same {{...}} reports the correct value.

`timer is {{ states("input_number.watering_time") | int }}`
shows:
`timer is 6`

**Log

[2021-01-01 10:27] sebr commented on #49
Good question... I can reproduce the same issue. I'll dig around, for now I think a viable workaround might be to [use a `script`](https://github.com/sebr/bhyve-home-assistant/issues/47#issuecomment-735381834)?

[2021-03-01 00:53] #45 closed

[2021-03-04 22:49] jjprz opened #53 ""Cannot write to closing transport" after 2021.3.0"
**Describe the bug**
Bhyve Component shows an error after update to 2021.3.0
Entities display correctly but switches don't work

**BHyve devices**
BHyve Hose Faucet Timer

[code]

[2021-03-05 00:21] #53 closed

[2021-03-23 23:38] JimTheJet opened #54 "Behavior of 6-Station Controller"
**Home Assistant 2021.3.4**
I have installed Orbit BHyve Integration, written by Seb Ruiz, version: 2.0.6

**Hardware:**
Orbit 57946 B-hyve Smart Indoor/Outdoor 6-Station Controller
Orbit 21005 B-hyve Bluetooth Hose Faucet Timer
Orbit 21006 B-hyve Wi-Fi Hub

**Integration:**
Have performed the Integration via HACS, installed fine.
Have added a simple Dashboard to manually control and check functio

[2021-03-24 18:14] allanparsons opened #55 "Getting Error: Service not implemented: start_watering"
When setting up a manual run, I'm getting the following error:
`
Logger: custom_components.bhyve.switch
Source: custom_components/bhyve/switch.py:190
Integration: Orbit BHyve Integration (documentation)
First occurred: 11:04:32 AM (1 occurrences)
Last logged: 11:04:32 AM

Service not implemented: start_watering
`

**Expected behaviour**
I should be able to manually trigger a watering event, wait 1

[2021-03-29 10:24] sebr commented on #54
Hi @JimTheJet,
Nothing looks untoward in what you've described, I would expect this to work fine. Can you please enable debug logs and provide me with your logs after attempting to turn on one of the sprinkler zones, and then again when you enable it through the BHyve app?

To enable debug logs, please edit `configuration.yaml` and add:

[code]

Then the logs will be in home-assistant.log

If ther

[2021-03-29 10:31] sebr commented on #55
In theory this should only happen if the `switch.backyard_zone` entity was not created by the BHyve custom component... Is it possible that there's another entity with this id that is left over from some other configuration?

[2021-03-30 20:33] JimTheJet commented on #54
Thx for the note back.
You are correct about a **_load of content_** within the log.
With a fresh restart of HA there was about 1/2 meg.
I have removed most of it from the linked file.

Again, I have two controllers,  One attached to a hose faucet the other is a six-station controller.
The hose faucet works as expected.  The six-station controller does not.  On for 2 secs and then off, no value is

[2021-03-31 02:12] sebr commented on #54
Hi @JimTheJet - it looks like your device is programmed to have a default `run_time` of zero minutes. This is an abridged response the integration is receiving from the API:

[code]

The callout is `"manual_preset_runtime_sec": 0`

You should be able to change this by using the BHyve app. On iOS these are the steps:
1. Navigate to "My b-hyve" tab
2. Tap on "Devices"
3. Select the appropriate devic

[2021-03-31 18:42] JimTheJet commented on #54
**Hello Seb:**

Thanks for the note back….

LOL, you are so funny.  After looking through the log I tried the same item you requested within your note, prior to sending back my last one.

Please note that the faucet controller **does have** this setting exposed within the iPhone UI.  But the 6-station controller **does NOT**.  So I created for you a screenshot of both UIs and have included it in t

[2021-03-31 22:27] sebr commented on #54
Okay. What is the behaviour when you tap "water manually" on the sprinkler controller? Can you share some screenshots?

Additionally, if you use the service [`bhyve.start_watering`](https://github.com/sebr/bhyve-home-assistant#services) does it water for the expected amount of time?

The API was reverse engineered - there is no official documentation.

The integration doesn't aim to be a complete

[2021-04-06 17:11] JimTheJet commented on #54
Hey Sebr:
Just back to HA and B-Hyve.  You have found the difference. between the faucet controller and the station controller.  Thx so much.

**What Works:**
Your suggestion/direction on a Service.  That work :-) !
On the Faucet Controller:  A simple Button within the HA UI to control the Switch works fine.

**UI for the Faucet [This Works]:**

-     type: button
        tap_action:
          act

[2021-04-12 06:00] Pirol62 opened #57 "Receiving warnings with later break once a week"
**Describe the bug**
At least one a week I receive issues as warnings with later disconnect.

**Expected behaviour**

**BHyve devices**
1 device

**Logs**

[code]
[code]
[code]

[2021-04-13 05:15] sebr commented on #57
These are errors from the BHyve servers. What is the behaviour you expect?

[2021-04-13 15:53] Pirol62 commented on #57
Hmm...It would be great, if the connect could be reestablished. So far, I always have to check, if the irrigation have started. That's not the basic idea :-). To be honest: half a year ago, the breaks came nearly every night. It's better now. Around once a week or even less.

[2021-04-26 11:47] crboffo opened #58 "Include Orbit 57995 B-hyve XR"
Any chance to include the compatibility of the latest Orbit 57995 B-Hyve XR? It seems partially compatible?

[2021-04-26 12:36] sebr commented on #58
Hi @crboffo,
Can you please elaborate what you mean by "partially compatible"?

What features work or do not work? This device isn't available in Australia, if you want to gift one and send it to me I'd be more than happy to oblige ;-)

[2021-04-26 14:46] crboffo commented on #58
Thank you for the reply. I get the status sensors and the delay switch but
none of the other sensors generated by the integration.

On Mon, Apr 26, 2021 at 7:37 AM Seb Ruiz ***@***.***> wrote:

[2021-04-27 00:21] sebr commented on #58
Okay thanks, it would be helpful if you could please enable debugging and send me the response from the BHyve API. Follow these instructions:

Step 1: Enable debugging.

Add the following to `configuration.yaml` and then restart Home Assistant.
[code]

Step 2: Check Home Assistant logs

1. Open `home-assistant.log`
2. Upload the lines which begin with:
[code]

[2021-04-27 01:45] crboffo commented on #58
Thanks for looking into this.
Attached is an extract of the log file.

On Mon, Apr 26, 2021 at 7:21 PM Seb Ruiz ***@***.***> wrote:

[2021-04-27 02:14] sebr commented on #58
@crboffo there was no attachment uploaded, most likely because you replied using email. Can you please attach directly to the github issue? thx

[2021-04-27 02:18] crboffo commented on #58
Here it is.

[b-hyve.log](https://github.com/sebr/bhyve-home-assistant/files/6381421/b-hyve.log)

[2021-04-27 09:06] sebr commented on #58
@crboffo as far as I can tell, the integration should be working... Can you please navigate to your HA's admin page under `/config/entities`, search by `bhyve` and then provide screenshots to show me what entities have been created?

As well as this, all other logs (with debugging enabled) which relate to `customer_components.bhyve`.

Thank you

[2021-04-27 13:33] crboffo commented on #58
Never mind, it took a couple of days, but this morning all the sensors showed up as you have in your repository.
Anyways thank you for looking into it so quickly and I guess now you can add this model to your list

[2021-04-29 05:20] akballow opened #61 "Don't create battery sensors for devices without batteries"
What does this entity track exactly? the backup battery? Something else? I can not figure out what it tracks to troubleshoot it because it always says unknown.  My Device does have a battery for remembering the settings which did display empty when i did not pull the tab out from a new install, but maybe that is not what it is for. I have the 6-zone outdoor unit.

Sorry for not using the template

[2021-04-29 09:55] Pirol62 commented on #57
Hi, I still have these errors at least twice a week.
One solution would be to enable a reload of the integration. Maybe the connect errors are not avoidable but it would help, to simply reload the component like it is possible with Met.no and others.
Is it possible to create a service?

[2021-04-29 12:07] sebr commented on #61
Hi @akballow,
I've never used the 6-zone outdoor unit. Is it hard wired to power? I have the faucet timers which are battery operated.

Regarding the template, no worries. In the future you can use open a [discussion conversation](https://github.com/sebr/bhyve-home-assistant/discussions)

[2021-04-29 12:11] #58 closed

[2021-04-29 12:12] sebr commented on #54
Thanks @JimTheJet. I will change the behaviour of the integration to default to the 5 minute runtime if there is no manual preset, as well as write a warning to the logs. Hopefully this avoids problems for other users too.

[2021-04-29 12:12] #54 closed

[2021-04-29 12:14] sebr commented on #55
@allanparsons as I haven't heard back from you I'll close this issue off. Please reopen if you have more information to share, thanks.

[2021-04-29 12:14] #55 closed

[2021-04-29 13:13] Madelinot commented on #61
It is hard wired.  I have both.  The battery has always shown unknown for the 6-station unit.

[2021-04-29 22:07] #61 closed

[2021-04-29 22:08] sebr commented on #61
Thanks for the info - I've changed the logic to not create battery sensors if the device does not report a battery state.

[2021-04-30 11:46] Pirol62 commented on #57
@sebr
I already restarted HA and found out, that the switch is working, battery level is available but the sensor for the zone is not available
This was the message in the log:
[code]
the sensor is unavailable since 2 days.

Does something changed in the api?

[2021-05-10 02:19] twhug commented on #57
I'll add that I'm seeing the same thing. Other than a full HA restart - is there any way to re-sync a device when the error occurs? Have 5 devices so if one of the API calls fail but the other 4 complete OK it's a bit of an annoyance having to restart the whole thing.

Appreciate that this is being caused by a bodgy bHyve API but yeah a graceful way of handling it would be brilliant.

[2021-05-19 17:23] ultimatewooze opened #65 "Integration stops working after sometime"
**Describe the bug**
The integration stops working after some time and neither status or controlling zones work. After restart of HA everything works again for a day or two before failing

**Expected behaviour**
That integration continues to work without  having to restart HA

**BHyve devices**
B-hyve Smart Indoor/Outdoor Irrigation Controller 6 zones

**Logs**

2021-05-19 02:04:15 DEBUG (MainThre

[2021-05-22 00:46] #65 closed

[2021-05-22 00:46] sebr commented on #65
Dupe of #57

[2021-05-29 12:38] sthorley commented on #61
Hi Seb, any chance of pushing a new release with this fix included?

FYI this integration works with the 4 station system too (no battery on this model). https://www.bunnings.com.au/orbit-4-station-b-hyve-indoor-irrigation-controller_p0135882

[2021-05-30 00:53] sebr commented on #61
Oh yes, will do!

[2021-06-13 10:49] Pirol62 commented on #57
Hi, I'm close to delete this integration even I had so much work on it. Yesterday I restarted HA due to not working bHyve. 10 Minutes ago bHyve did not work again.
TThe error logs:
[code]
[code]
There are nor errors regarding the history sensor because I deactivated this. It did never work for more then 2 to 5 hours.

I'ts summer time- What can I do in order to stabalize this integration?

[2021-06-13 12:56] sebr commented on #57
Sorry to hear that mate - unfortunately I am extremely busy and do not have time to dedicate to solve this for you right now. Perhaps you could do some debugging and submit a pull request? To make matters more complex, I have no issues with the integration at all (my 3 tap timers all work very reliably) so I can't reproduce this.

[2021-06-14 10:23] Pirol62 commented on #57
Hi @sebr . I would debug, if I'd know how it works ;-). I'm a bloody beginner in python and GitHub and might haven't the workspace in order to do that. All what I can do is got through the code and look what happens on the mentioned line in the error.
So I have to wait. It's clear that prio 1 is family, prio 2 job, prio 3 friends and then the rest of all ;-)

[2021-06-22 03:32] briodan commented on #57
figured I would add that I'm seeing the same issue here. most often i get

`Logger: custom_components.bhyve
Source: custom_components/bhyve/__init__.py:271
Integration: Orbit BHyve Integration (documentation)
First occurred: 8:44:15 PM (1 occurrences)
Last logged: 8:44:15 PM

Failed to connect to BHyve servers. Error requesting data from https://api.orbitbhyve.com/v1/watering_events/60a948054f0cc5

[2021-06-23 04:17] sebr commented on #57
Hi everyone,
I've made a few small tweaks to hopefully increase the resiliency of the integration when it encounters upstream errors with the BHyve API. You can install [2.0.8-beta1](https://github.com/sebr/bhyve-home-assistant/releases/tag/2.0.8-beta1) manually or by enabling beta releases in HACS.

Let me know how you go with this?

[2021-06-23 05:08] briodan commented on #57
installed it just now will keep an eye on to see how it goes.

[2021-06-23 06:29] sebr commented on #57
Thanks. It will still log the errors but hopefully will not cause the integration to break.

[2021-06-23 06:37] twhug commented on #57
Thanks sebr, also installed the beta and will keep an eye out 🙂

[2021-06-23 08:36] Pirol62 commented on #57
Hi sebr. I'm on leave and will install the beta on Friday. Thanks for your support

[2021-07-01 06:52] Pirol62 commented on #57
Hi Seb, just to inform you, that we have this still in mind.
I updated to the beta on saturday. Since then, I had no log entry (Debug level activated) and the irrigation switch is stable.
This is more as expected as you only handle the incoming issues in a different way as I understood.
Before, I had at least one message a day that the battery sensor could'nt been updated with the later total inte

[2021-07-01 15:53] DaftHonk commented on #57
Just installed the beta after seeing similar behavior in 2.0.7, will report my findings. Either way the integration is still more stable than b-hyve's firmware update...

[2021-07-01 16:19] DaftHonk commented on #25
This may be a bug in the b-hyve firmware. I have 2 hose faucet timers and have set both to 15 minutes default in the app under `My B-hyve -> Devices -> Device Detail -> Preset Runtime` but when I select Water Manually from the home screen it still defaults to 10 minutes. Setting it from HA updates the value in the app under Device Detail, but again is not obeyed when selecting Water Manually.

[2021-07-02 22:43] Doxxter commented on #57
I'm still having this issue and no amounts of restarts seem to fix it. I've reinstalled the integration a few times, using the beta version for the last few, but no luck regardless unfortunately. It used to work for the most part, would drop occasionally but a restart would fix it, but the last week+ it's been totally unavailable.

I wouldnt be surprised if its on Orbit's end but just adding info.

[2021-07-02 22:48] twhug commented on #57
You’re getting a 401 Unauthorized error so either there’s an issue with bHyve authenticating your account, or (more likely) your login details have changed and haven’t been updated in the relevant config file. That’s different to the issue most of us have been getting (and I think sebr’s fix may have specifically dealt with the “501” error that we get, not with 401s as well).

[2021-07-05 19:21] stamandr opened #68 "Firmware update to 0045 breaks Bhyve integration"
After upgrading to Firmware 0045 Bhyve integration no longer works

[2021-07-05 19:59] briodan commented on #57
so far the integration has been stable for me over the last 2 weeks, no random hangs etc.

still getting some errors in the logs like:

`Unable to retreive data for zone history: Error requesting data from https://api.orbitbhyve.com/v1/watering_events/xxxx: 500, message='Internal Server Error',`
or
`Updating bhyve sensor took longer than the scheduled update interval 0:00:30`
or
`websocket connect

[2021-07-05 23:55] sebr commented on #57
Okay great, thanks for the update @briodan. I'll resolve this issue and re-release as v `2.0.8` for everyone else who isn't on a beta release. Much appreciate all the debugging and investigations everyone!

[2021-07-05 23:55] #57 closed

[2021-07-05 23:57] sebr commented on #68
Please create a new issue using the template provided, and fill out the requested information.

https://github.com/sebr/bhyve-home-assistant/issues/new?assignees=&labels=&template=bug_report.md&title=

[2021-07-05 23:57] #68 closed

[2021-07-06 00:56] briodan commented on #49
not sure if it helps or not but I'm using a virtual switch and an automation to go around this. Automation listens for the virtual switch to turn on, then runs the watering cycle based on the time template and then resets the virtual switch to off.

[code]

[2021-07-06 19:06] stamandr opened #69 "After upgrading Orbit Bhyve Timer Firmware to version 0045 Bhyve integration no longer works"
**Describe the bug**
After upgrading Orbit Bhyve Timer Firmware to version 0045, Bhyve integration no longer works

**BHyve devices**
1 - Orbit 57946 B-hyve Smart 6-Zone Indoor/Outdoor Sprinkler Controller

**Logs**

[code]

[2021-07-09 20:39] stamandr commented on #69
Updated to core-2021.7.1. Problem appears to have fixed it's self

[2021-07-09 20:39] #69 closed

[2021-07-20 03:45] Mudguppie opened #72 "Orbit B-hyve No Longer Works"
Several months back, I had the B-Hyve single faucet controller working fine on my Home Assistant installation.  Since that time, HA has listed it as unavailable. I’ve tried checking the Orbit B-hyve app using my logon info and it works.  However, using that same logon in my configuration.yaml file, it doesn’t seem to work.  It lists those entities as unavailable in the Lovelace screen.  When I che

[2021-07-20 11:52] sebr commented on #72
Hi @Mudguppie
I'll need those debug logs - without it I won't be able to help. YAML is a very precise syntax so check that your formatting is correct.

[2021-07-20 16:44] Mudguppie commented on #72
Okay, Seb. I was able to enable the debug log for b-hyve per the instructions.  Where might I find that log to send it to you?
Thanks. 

Sent from AT&T Yahoo Mail for iPad

On Tuesday, July 20, 2021, 6:52 AM, Seb Ruiz ***@***.***> wrote:

Hi @Mudguppie
I'll need those debug logs - without it I won't be able to help. YAML is a very precise syntax so check that your formatting is correct.

—
You are

[2021-07-21 04:53] Mudguppie commented on #72
Hi Seb,
This is one of the B-hyve errors I found it the log.  It appeared twice in the log 

This error originated from a custom integration.
Logger: custom_components.bhyveSource: custom_components/bhyve/__init__.py:271 Integration: Orbit BHyve Integration (documentation) First occurred: 11:07:03 PM (1 occurrences) Last logged: 11:07:03 PM
Failed to connect to BHyve servers. Error requesting data

[2021-07-24 13:18] gdlesage opened #73 "feature request, set zone moisture levels"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

In the bhyve app, there is the ability to adjust soil moisture level value,  (home-> zones -> zone one -> soil moisture).  Setting soil moisture determines how much and how often smart water occurs, its a dynamic value based on location an

[2021-07-26 11:22] sebr commented on #72
Hi @Mudguppie this is a common error reported by the Orbit API and shouldn't impact your experience using the integration if you are using [version 2.0.8](https://github.com/sebr/bhyve-home-assistant/releases/tag/2.0.8).

If you are still experiencing the issue, can you please raise a [new issue using the template](https://github.com/sebr/bhyve-home-assistant/issues/new?assignees=&labels=&template

[2021-07-26 11:22] #72 closed

[2021-07-26 12:15] #25 closed

[2021-07-26 12:15] sebr commented on #25
I've removed `bhyve.set_manual_preset_runtime` from the README and from exported services as I cannot get this to work. I've left the code in the repo should anybody want to take a look and debug :)

[2021-07-26 22:34] grouts112 opened #75 "Invalid Config"
Issue:-
Since HA 2021.7.0 (maybe 2021.6.x) and still getting it at 2021.7.4
I am receiving regular error notifications for the b·hyve plugin..

Bhyve devices:-
HT25-0000
BH1-0001

LOGS:-

In HA notification..

Invalid Config

The following integrations and platforms could not be set up:

bhyve
bhyve.switch
bhyve.sensor
Please check your config and logs.

The log shows…

Logger: homeassistant.setup

[2021-07-27 00:07] sebr commented on #75
Can you please provide your config as there is likely an error with your yaml file.

[2021-07-27 04:25] grouts112 commented on #75
Hi,   Thanks for your very quick reply !

It would surprise me if it the config, as it works 'most' of the time..
In fact, it has come good since I opened this issue>

![image](https://user-images.githubusercontent.com/56949816/127094601-557cd12b-ccec-449f-84b0-e2ed0f7e809c.png)

The yaml for the b-hyve:-
[code]
in switch.yaml :-
`- platform: bhyve`

and in Sensor.syaml :-
`  - platform: bhyve`

A

[2021-07-27 06:38] sebr commented on #75
Are you using `2.0.8`? There are some fixes in the latest release which more gracefully handle errors in the BHyve API.

If you are, can you please provide any logs?

[2021-07-27 07:23] grouts112 commented on #75
Hi,  not sure how to tell the version that is running ?
my manifest.json file says "version": "2.0.6",  which is the same on this repository.
there are no updates available according to HACS,  so I assume the latest.

I have enabled debug logging and will provide the logs after it next does it.

[2021-07-29 22:52] disforw opened #76 "B-Hyve Smart Flood Sensors"
B-hyve now introduced smart water sensors. They are a cheap solution that integrates nicely in to the Orbit family. Have you had any success in adding them to your integration?

[2021-07-31 12:35] sebr commented on #76
Hi!
I was not aware that these devices existed, and to be honest don't have any need for them! So it is unlikely that I will add support.

[2021-07-31 18:58] disforw commented on #76
Would you mind if I give it a shot and create a PR?

[2021-08-01 02:08] sebr commented on #76
Of course not - sounds great!

[2021-08-03 19:09] briodan commented on #57
after more then a month of solid running ran into this issue again, or similar issue with same symptoms. My integration and had to restart HA to get it working again.

here are my logs
[code]
after this its repeats the same message every 15 minutes (then its supposed to run) until I restarted HA.

[2021-08-05 20:42] briodan opened #77 "Integration fails"
**Describe the bug**
The integration fails to run

**Expected behaviour**
Integration runs

**BHyve devices**
HT25-0000 valve controlled by a wifi hub

**Logs**
2021-08-05 11:53:19 ERROR (MainThread) [custom_components.bhyve.pybhyve.websocket] websocket connection closed
2021-08-05 11:53:19 WARNING (MainThread) [custom_components.bhyve.pybhyve.websocket] Websocket exception:
2021-08-05 11:53:24 ER

[2021-08-05 21:43] waseltzer commented on #77
Same error:
2021-08-05 15:40:03 WARNING (MainThread) [custom_components.bhyve.pybhyve.websocket] Tried to send message whilst websocket closed; state: starting

Home Assistant Core
Version
core-2021.8.0

[2021-08-05 22:21] waseltzer commented on #77
Working after update to core-2021.8.1.

[2021-08-06 04:29] briodan commented on #77
does your integration break regularly, repeatable? reason I ask is that a reboot of HA fixes it when it gets into this state for me and an upgrade would reboot HA.

Mine is random, at least so far only happened twice in the last 2 days after running solid for over a month.

[2021-08-12 20:53] Mudguppie opened #78 "Orbit B-hyve is no longer available in Home Assistant"
**Describe the bug**

B-hyve faucet time listed as unavailable in Home Assistant.

**Expected behaviour**

To be available and controllable from Home Assistant.

**BHyve devices**

Orbit B-hyve single faucet timer with WiFi hub

**Logs**

DEVICES:[{"last_connected_at": "2021-08-12T01:33:32.864Z", "address": "REDACTED", "timezone": {"dst_offset": 3600, "raw_offset": -21600, "timezone_id": "America/

[2021-08-12 21:22] sebr commented on #78
Are there any other notable logs?

[2021-08-12 22:59] Mudguppie commented on #78
None other than what I included. Do you have another log that I should look at?

Sent from AT&T Yahoo Mail for iPad

On Thursday, August 12, 2021, 4:22 PM, Seb Ruiz ***@***.***> wrote:

Are there any other notable logs?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iO

[2021-08-12 23:07] sebr commented on #78
No other log files, it would be in `home-assistant.log` perhaps as an error or warning. Search for `bhyve` :)

Without this I can't track down any possible causes - and would suggest you restart Home Assistant. The only thing I can think of is if you renamed BHyve devices or zones which could have caused the entity names to be changed.

[2021-08-12 23:21] Mudguppie commented on #78
Now I remember, we had a hard freeze in Texas back in February and my B-hyve faucet timer froze up and busted something so I had to replace the faucet part itself. The WiFi hub is the same. I think that was about the same time I started noticing that HA would no longer recognize the B-hyve.  I used the same name for the replacement timer and it is fully recognized via the Orbit B-hyve app. How can

[2021-08-12 23:30] sebr commented on #78
You should be able to see the entities from the BHyve app in the HA entity register (go to configuration). It's likely that the new entities have been named `my_zone_2` and you should be able to rename it from the UI.

Otherwise, disable the BHyve integration, restart HA, remove all the entities from the UI, then re-enable the integration.

[2021-08-13 07:29] Heroj04 commented on #78
I seem to be having a similar issue.
I lost access to everything except watering program switches.
I did just update hass to 2021.8.6 from 2021.8.1, maybe had something to do with it.

[2021-08-18 03:57] Mudguppie commented on #78
Sorry for the delay in getting back with you but, I got sidetracked. I just wanted to let you know that once I deleted the devices from the B-hyve app and reinstalled them, the HA integration works fine.
Thanks for your help. 

Sent from AT&T Yahoo Mail for iPad

On Thursday, August 12, 2021, 6:31 PM, Seb Ruiz ***@***.***> wrote:

You should be able to see the entities from the BHyve app in the HA

[2021-08-29 17:17] disforw commented on #76
PR created #80

[2021-08-29 17:17] #76 closed

[2021-08-29 22:17] stevewull opened #81 "Feature Request: Water consumed"
**Is your feature request related to a problem? Please describe.**
Not related to problem. Your Integration is great. Much appreciated

**Describe the solution you'd like**
B-Hyve has a partnership with Flume. Flume makes a device that attaches to the house's water meter and tracks the amount of water consumed. The Flume data is integrated into the B-Hyve app. The watering report shows the both th

[2021-08-31 23:13] sebr commented on #81
Hi @stevewull thanks for the suggestion.

If a flume integration already exists, how do you see the overlap between this data? Does partnership between Flume & BHyve enable any special data that is not otherwise already available or provided by these separate integrations?

The BHyve integration already provides water consumption data via the [watering history sensor](https://github.com/sebr/bhyve

[2021-09-02 03:45] sebr commented on #75
@grouts112 how are you going with this? Are you still experiencing errors?

[2021-09-02 09:20] grouts112 commented on #75
Hi Seb,
 Sorry for not getting back sooner.
Since I enabled the additional logging I have not seen it re-occur!

I think it is safe to say you can close this issue.
Thanks for your time.

Sent from my iPad

[2021-09-02 10:32] #75 closed

[2021-09-02 20:37] timbrunson commented on #77
Same issue here: it works, at least once, then repeatedly fails. It works (at least once) after a reboot. The iPhone b-hyve app works even after this automation has failed, so it's not hardware.

Sure seems like some kind of failure-to-reset-properly bug.

Software revs: HA core-2021.8.8 on Home Assistant OS 6.2 on Raspberry Pi 4b.

Log entry:
2021-09-02 10:35:36 WARNING (MainThread) [custom_compo

[2021-09-03 04:43] briodan commented on #77
for me it works for long periods of time, just failed the other day again after running fine for almost 4 weeks.
My mister runs every 10 minutes for a variable duration, so hundreds of cycles before it fails.

currently experimenting with an automation that monitors the log for the failure message then restarts HA so I don't end up with it not running for long periods and messing up my mushrooms.

[2021-09-10 22:36] disforw opened #82 "Feature Request: Move to official Core integration"
Have you considered switching to config flow and moving this project to the official HA Core?

[2021-09-11 10:23] sebr commented on #82
I have... but honestly have very little time to port to config flow and then hit the checklist for inclusion in core, including testing etc... :)

[2021-09-13 00:20] ctrl50 commented on #43
unless im miss understanding, this wont work like that. the controller itself will only allow 1 zone at a time, so when you manually turn on the first zone it starts.. if you turn oin another switch, the first zone will stop and the one you turn on will start.. this is normal operation.

Now if you want to flip a bunch of switches and have it one after another you would need to automate or script

[2021-09-29 20:59] astiskala opened #83 "Intermittent error when starting component due to API issue"
**Describe the bug**

The Orbit B-Hyve API returned an unexpected 500 response when the component was starting, this caused the component to fail to load until Home Assistant was restarted.

**Expected behaviour**

Some sort of retry logic to handle this sort of transcient error.

**Logs**

[code]

![image](https://user-images.githubusercontent.com/12061596/135347252-2cd68f74-3dec-4ba7-aa86-e9c43e

[2021-10-01 09:43] Tuxie opened #84 "Cannot connect to host api.orbitbhyve.com:443 ssl:default"
It must have been able to connect at some point because I have my B-hyve sensors and switches available with values, but I see this in the log on startup now, and setting switches (like zone on) doesn't work.

[code]
Then this message repeatedly repeats every minute or so.
[code]
I'm using version 2.0.8 installed with HACS on a Home Assistant Blue.

[2021-10-01 09:58] sebr commented on #84
When did you first see this occur?

[2021-10-01 10:02] Tuxie commented on #84
Just now, maybe an hour ago, which is about one hour after I installed and set it up for the first time.

[2021-10-01 10:04] Tuxie commented on #84
Another message just appeared.
[code]

[2021-10-01 11:11] Tuxie commented on #84
It seems to be working again now. I guess there was a problem with their servers. So far, they have had about 80% downtime for me, then. :)

[2021-10-01 11:12] #84 closed

[2021-10-01 21:43] sebr commented on #84
Yes unfortunately the b-hyve apis are very unstable. It is a constant thorn in my side.

[2021-10-11 17:22] rtdias1970 commented on #83
Hello, +1

I am getting the same error. Not so intermittent... it's happening every time.

I am running the latest version of Home Assistant (2021.10.03) on a raspberry PI 4 with 8Gb.

I can still see the bHyve entities available to Lovelace, but have no clue why the error is happening.

In any case thank you for the excellent work.

[2021-11-02 07:07] Pirol62 opened #86 "set_manual_preset_runtime is missing since last update"
**Describe the bug**

Since the last update to 2.0.9 the service bhyve.set_manual_preset_runtime is missing
**Expected behaviour**

I used the service in an automation
[code]
**BHyve devices**

**Logs**
Logger: homeassistant.components.automation.set_irrigation_runtime
Source: components/automation/__init__.py:522
Integration: Automatisierung (documentation, issues)
First occurred: 1. November 202

[2021-11-02 08:31] sebr commented on #86
Yes, I removed it as I don't think it ever worked?

Did it work for you? Can you confirm if you downgrade to the previous version please?

Which device do you have?

[2021-11-02 12:00] Pirol62 commented on #86
It worked perfectly. I have the Orbit 94990.

[2021-11-02 23:05] #86 closed

[2021-11-02 23:07] sebr commented on #86
Released 2.0.10

[2021-11-03 05:30] ivkobylinskyi commented on #75
Can I have just on/off toggle. No need schedule or delay. Just on/off.

[2021-11-03 06:10] sebr commented on #75
You can turn a switch on/off today. Please start a new discussion if you have any queries.

[2021-11-03 06:57] Pirol62 commented on #86
Thanks mate. Everything works again.

[2021-11-09 01:33] trentjw opened #88 "Does not show up in Home assistant even though it claims to be loaded via hacs"
**Describe the bug**

does not show up in integrations
**Expected behaviour**
 should show up

**BHyve devices**
 12 zone controller

**Logs**

[code]

[2021-11-09 09:29] sebr commented on #88
Please reopen this after following instructions in the issue template.

[2021-11-09 09:29] #88 closed

[2021-11-09 09:58] sebr commented on #76
Released in 2.1.0-beta0

[2021-11-09 09:59] sebr commented on #81
Closing issue due to inactivity.

[2021-11-09 09:59] #81 closed

[2021-11-09 10:01] sebr commented on #77
How's everyone been going with this issue lately? Unfortunately BHyve's APIs are pretty flakey (probably not designed to be pinged every few minutes and have long running websockets attached to them...).

It's been quite tricky to build in resiliency for these types of failures due to the sporadic nature of the failures, but I hope it should be fairly stable now?

[2021-11-09 16:02] briodan commented on #77
Unfortunately I have stopped paying attention to this as it’s gotten cold enough here we shut down our misters for the winter. I’ll see about plugging in the WiFi controller and hose timer somewhere and setup a recurring watering job.

[2021-11-11 05:13] trentjw commented on #88
nice

[2021-11-11 05:23] sebr commented on #88
?

[2021-11-11 20:51] timbrunson commented on #77
I worked around my issue by using the “Start watering for X minutes” API rather than using “Switch On”, delaying X minutes, and “Switch Off”. This seems to be the way the device’s implementors expected it to be used, and it has worked without any hiccups since.

[2021-11-12 02:19] briodan commented on #77
I was using the water for x minutes API and still had issues but mine would only fail once every 4 weeks or so.

I have it setup cycling itself on for 5 minutes every 30 and will report if I see any more failures.

[2021-11-14 19:23] AbhiOommen commented on #83
I am getting the same error raised above, specifically related to switching on/off the smart watering program switch, neither is the switch state updated correcting in HA.

[code]

[2021-11-15 07:45] sebr commented on #83
@AbhiOommen This is a separate problem (404) - can you please raise a new issue? Thx

[2021-11-29 17:06] waseltzer opened #91 "Unavailable Bhyve entities"
**Describe the bug**
bhyve-home-assistant v. 2.0.10

Entities that appears after first installing the integration have become "unavailable."
Unavailable:
* `*_state`
* `*_program`
* `*_zone_history`
* `*_smart_watering_program_*`

Working correctly:
* `switch.*zone`
* `*rain_delay`

**Expected behaviour**
Bhyve entities should be available.

**BHyve devices**
Orbit 57946 B-hyve Smart 6-Zone
Firmwa

[2021-11-30 07:01] sebr commented on #91
The entities are set to `unavailable` if the device is disconnected from the network. Can you check in the bhyve app to confirm?

[2021-11-30 16:43] waseltzer commented on #91
The switch.* entities are available and working fine (I can turn on/off zones.)
The other entities, listed above, are "unavailable" but were available when I first enabled the integrations.

[2021-11-30 22:45] sebr commented on #91
Sounds like something got out of sync. Hard for me to debug this remotely :). Can you restart HA and see if that resolves it? Otherwise check that new entities haven't been created for some reason - eg renamed entities.

[2021-11-30 22:49] waseltzer commented on #91
I have rebooted several times. And, I have uninstalled/reinstalled the integration.
Ideas on how to uninstall and remove all Bhyve state and stary with the clean installation?
(Other than a new HA installation.)

[2021-11-30 23:12] sebr commented on #91
Before wiping everything clean, check that duplicate entities haven't been created. You can do this by navigating to [https://my.home-assistant.io/redirect/entities/](Entities) and filter for `bhyve`. This should show you all the entities provided by the BHyve Integration. If you don't see anything suspicious, then go ahead and wipe it clean with these steps:

1. Disable / comment out the `bhyve`

[2021-11-30 23:57] waseltzer commented on #91
I followed these instructions. There were no duplicates bhyve entities.
Now all is working again.
I'll be sure to report if any of the Bhyve entities become unavailable again so we can debug the problem.
Thanks!

[2021-12-01 00:02] sebr commented on #91
Thanks @waseltzer

[2021-12-01 00:02] #91 closed

[2021-12-05 19:26] waseltzer commented on #91
Sorry to report that the problem has recurred.
After restarting Home Assistant to upgrade another integration,
one of my bhyve entities changed to "unavailable" - the others are ok.
switch.<my_byhve_device_name>_smart_watering_program

Restarted Home Assistant again and this entity is still unavailable.
I'd be glad to help debug this if there is interest.
Otherwise, I can disable this entity, as I

[2021-12-13 17:11] mdegat01 opened #94 "Entity implements `device_state_attributes`"
**Describe the bug**

On startup of Home Assistant after updating to version `2021.12.1` with this integration in use, I received the following message in my log:

[code]

So as requested I am reporting it. To my knowledge this warning just started appearing in version `2021.12.1`. I am not super diligent about checking my HA logs but I check them often enough that I feel like I would've noticed i

[2021-12-15 01:35] sebr commented on #91
@waseltzer I've added some logging in version 2.1.1. The integration will log with a `WARNING` if it receives a disconnection event and an `INFO` on a reconnection event. Can you keep an eye on this and hopefully we can track it down. Thanks!

[2021-12-15 01:35] #94 closed

[2021-12-15 01:36] sebr commented on #94
Fixed in 2.1.1 - thanks for reporting!

[2021-12-18 05:53] dmshimself opened #96 "Switch appears to be on all the time and cannot be switched off"
**Describe the bug**
After the most recent BHYVE upgrade I still have a switch in HA but in the UI it now is always on.  If I toggle the switch to off, it moves back to on again after a few moments.  On the BHYVE timer, the switch is actually off all the time.  I have included the log further down this report and at the end I tried to turn the switch off and on, but nothing seems to be shown in th

[2021-12-18 06:00] dmshimself commented on #96
![image](https://user-images.githubusercontent.com/6901481/146631132-6987d026-4451-4b12-a91b-3a15b575955e.png)

[2021-12-20 22:19] RobSobey opened #97 "I wish someone could provide a step by step guide to installing and integrating the Orbit Bhyve with Home Assistant"

[2021-12-21 04:32] sebr commented on #97
You will need to follow the following steps:

1. Familiarise yourself with [manual configuration for Home Assistant](https://www.home-assistant.io/docs/configuration/).
2. Install [HACS](https://hacs.xyz/) (Home Assistant Community Store)
3. Install this integration via the HACS user interface
4. Configure this integration as described in the [README](https://github.com/sebr/bhyve-home-assistant#i

[2021-12-21 04:32] #97 closed

[2021-12-21 05:25] RobSobey commented on #97
Hi @sebr, I have HACS installed and have installed a few other integrations from HACS. The others I have used worked without having to do anything in onfiuration.yaml. Not sure what I'm doing wrong, but I'll go through all the readme files.

[2021-12-21 06:10] RobSobey commented on #97
I'm not sure where to put the login details?
![image](https://user-images.githubusercontent.com/84689362/146880429-3687aca2-0aad-4569-9106-b07769c6f02e.png)

[2021-12-22 09:32] sebr commented on #97
@RobSobey the screenshot you shared are the files from the integration itself. You need to modify Home Assistant's `configuration.yaml` which should exist at the top level of your installation directory. I'm not familiar with the "File editor" which you are using.

[2022-01-12 01:14] UniKyrn opened #98 "Does not show up as an Integration that can be added"
**Describe the bug**

Installed the Repo via HACS but it does not show up under Configurations/Integrations as something I can add ti HA.

**Expected behaviour**

Should show up in list of available Integrations

**BHyve devices**

B-Hyve 8 station sprinkler controller

**Logs**

I added the logging config, rebooted, the logs never mention bhyve anyplace.

[code]

[2022-01-12 22:45] UniKyrn commented on #98
I'm a Noob, I didn't understand just how manual the config/setup was for this but I'm learning.

[2022-01-12 22:45] #98 closed

[2022-01-29 07:46] Paimon2 commented on #96
Also having this issue, any fix?

[2022-01-31 02:37] tux43 commented on #96
I think I’m having the issue too. If I reboot Home Assistant it reverts back. However every time I water HA keeps displaying it on.

[2022-01-31 11:18] sebr commented on #96
@dmshimself sorry about the delay getting back to this. Are you still seeing this issue? The logs you added show that there are duplicated entities which were created, is it possible there was a stray old configuration?

@Paimon2 / @tux43 can you please send me the debugging logs (including the websocket event dumps) by adding this to your config and then restarting HA:

[code]

Once you've done t

[2022-01-31 20:20] dmshimself commented on #96
In the past I uninstalled/reinstaled the HACS BHYVE integration to try and fix up the issue with not being able to flick the switch.  Currently there is only one entity for the switch in HA and the delete button in HA isn't enabled, so I'm not able to remove the installed switch that way.  I have a develpment environment too, so I'm happy to uninstall/reinstall again or anything else really.  I've

[2022-01-31 21:03] sebr commented on #96
@dmshimself ah yes this is a bit annoying - in order to remove the existing entities you need to uninstall the integration, restart HA, remove entities, then reinstall the integration and restart again.... super painful. Unfortunately very low on time to look into implementing some newer HA features that would improve this situation.

[2022-02-01 01:08] dmshimself commented on #96
Hi @sebr - and thanks for the thoughts.  I've been through that sequence and double checked there were no entities being filtered out after removing the integration and there were not.  I had to comment out sections in configuration.yaml before I could restart, but that's fine.  I then reinstalled, restarted, uncommented the BHYVE items, cleared the log and restarted again.  But the errors in the

[2022-02-01 01:46] dmshimself commented on #96
More from me - when I look at the entities using the developer tab (danger will robinson), I see the device ID for all the BHYVE entities is the same - the 5fffde5f4f0c33b47f58fa9a given above.  Could this be the root of the problem?

[2022-02-01 04:53] sebr commented on #96
Very odd, is there any chance you have multiple copies of the integration configured in `configuration.yaml` (or even just the sensor platform)? Do a search for `platform: bhyve` across your configuration file/s.

If you are referring to seeing this in the entity `attributes`, then no this is not a concern. This is the bhyve device id (not related to home assistant).

[2022-02-01 05:24] dmshimself commented on #96
Doh, Doh Doh!!!  Yep I must have done a copy paste in the past.  All sorted out - many thanks for the assist.

[2022-02-01 22:43] tux43 commented on #96
I've uninstalled and reinstalled with the same issue happening. I've uploaded the logs as requested
[custom_components.bhyve.log.gz](https://github.com/sebr/bhyve-home-assistant/files/7982389/custom_components.bhyve.log.gz)
.

[2022-02-03 09:26] sebr commented on #96
Thanks everyone, I've reproduced this and will take a look at fixing.

[2022-02-03 21:16] sebr commented on #96
Okay, coming back to this and I can't reproduce anymore :'(. It might be a specific combination of BHyve events which I'm not capturing, related to a specific configuration set. I'll continue to investigate, but if anybody can shed any light that would be very helpful.

Thanks!

[2022-02-03 21:16] #73 closed

[2022-02-03 21:30] sebr commented on #73
Released in version 2.2.0

[2022-02-04 01:33] whitestripes32 opened #104 "Services not appearing"
**Describe the bug**
I installed the integration via HACS and from documentation, the services that i can call via automation should also appear.

When I call a watering event i get errors like this in my log

Logger: homeassistant.components.automation.back_yard_watering
Source: components/automation/__init__.py:514
Integration: Automation ([documentation](https://www.home-assistant.io/integratio

[2022-02-04 03:49] sebr commented on #104
Sorry about that, fixed in 2.2.1

[2022-02-04 03:49] #104 closed

[2022-02-04 04:58] whitestripes32 commented on #104
Tested and working! Thanks so much for the quick fix

[2022-02-06 23:07] danielbrunt57 opened #105 "Cannot update neviweb climate Angela: {'error': {'code': 'DVCCOMMTO', 'data': {'retry': 2}}}. Device is busy or does not respond quickly enough."
[code]

What info do you need to troubleshoot this?

[2022-02-07 01:16] sebr commented on #105
I think you're in the wrong repo :)

[2022-02-07 01:16] #105 closed

[2022-02-07 08:42] danielbrunt57 commented on #105
Ugh!  Not enough caffeine??

[2022-02-09 21:50] allistermaguire opened #106 "Irrigation controller zones switches do not switch off when zone watering complete"
**Describe the bug**

I have an Irrigation controller with 6 zones, if I switch on a zone in either HA of the Orbit app the zone switch in HA will be on. But if I switch it off in the Orbit app, or the timer runs out and it automatically stops, the zone switch in HA is not updated and remains switched on.

**Expected behaviour**

I would expect any state changes on the irrigation controller to be

[2022-02-09 21:56] allistermaguire commented on #96
@tux43 What device do you have? your issue seems slightly different to the original for this ticket, but similar to an issue #106

[2022-02-09 22:33] mcvicthor commented on #96
I have the same issue on Orbit B-Hyve.
What I noticed is that most of the times it will switch off eventually.
The program ran for 15 minutes but switched OFF one hour later. Manually switching to OFF would flip back to ON by itself.

![image](https://user-images.githubusercontent.com/78282130/153301406-6325c6d0-76de-410e-af93-c540c47ffd3e.png)

[2022-02-11 17:06] jonathantidwell commented on #96
For those impacted by this issue, it _seems_ a `homeassistant.update_entity` service call will yield a correct result. From my toying around with this, it seems like the switch will still send the command to turn off, it just won't update the status. I'm currently experimenting with an automation to fix until @sebr conjures up a fix. Of course, modify to your liking:

[code]

[2022-02-11 21:05] dmshimself commented on #96
neat - many thanks for sharing that

[2022-02-11 21:18] tux43 commented on #96
Oh - that is great!! Many thanks @jonathantidwell

[2022-02-12 11:01] sebr commented on #96
Hi folks, I've made a small tweak to turn off the switch when receiving the event `change_mode: auto|off`. Hopefully this fixes the issue - but I'll need your help to verify and keep a lookout for any other issues as I've not been able to reproduce.

This change is available in version `2.2.0-beta0` which you should be able to install via HACS if you enable beta versions (nb you might need to sele

[2022-02-12 11:03] sebr commented on #106
Thanks @allistermaguire - my suspicion is that this is the same issue as in #96. If you can test the latest beta version (see [this comment](https://github.com/sebr/bhyve-home-assistant/issues/96#issuecomment-1037139614) and lmk how you go that would be super helpful.

[2022-02-12 11:04] #78 closed

[2022-02-12 22:05] allistermaguire commented on #106
I agree, only created as there appeared to be multiple different issues in issue.

[2022-02-12 22:05] #106 closed

[2022-02-12 22:40] allistermaguire commented on #96
Hey @sebr, there is a bug in the code, it should to be:
[code]
but I can confirm that it will resolve the issue.

FYI, for multi zone systems you only get the `EVENT_CHANGE_MODE` at the end. Ie: if the program (Smart or Manual) includes multiple zones, the zone switches will only be updated once the last zone has finished watering.

[2022-02-12 22:58] sebr commented on #96
Yup thanks so much... Released 2.2.2-beta1.

You're correct re the multi-zone systems. This is a long standing bug as reported at #41

Are you happy to contribute logs or thoughts on how to fix on that issue? I don't have the right device to reverse engineer it :)

[2022-02-18 01:07] m-theredhead commented on #96
It is the B-Hyve 6 zone sprinkler controller.   It worked fine until recently ( could have been weeks or months ).    Upon restarting home assistant, the zones all show off, but once the zone runs, it reports as being on in home-assistant indefinitely.

[2022-02-18 04:35] sebr commented on #96
Okay, do you run the zones in sequence as part of one program or are they separate? Could you be running into #41 ?

[2022-02-18 13:58] m-theredhead commented on #96
I have 4 zones and 3 programs.   Most programs only contains 1 zone and 1 program contains 2 zones.   They all run in the early mornings and seem to come on at the right time, but none of them ever turn off.    It doesn't seem to match the description in #41 as they don't turn off when the program ends either.

[2022-03-06 23:44] allistermaguire commented on #96
Hey @sebr I have captured some more data and the `change_mode` event isn't generally sent after a watering program as I guess the mode isn't actually changing. I tested with manually watering initially, and that is instant, but that is changing from `manual` to `auto`.

[2022-03-10 17:18] rsampayo commented on #96
I had the same problem. Removed integration, deleted entities and installed beta version. It's now working.

[2022-03-15 21:15] rsampayo commented on #96
Follow up. Now the problem is that once the program runs and the zone is turned on it stays on (on Home assistant). I have to manually turn it off on HA.

[2022-03-28 20:48] stefanolson commented on #77
I'm seeing it: "Tried to send message whilst websocket closed; state: starting".  Rebooted HA and all is well again. Bhyve 12 zone controller.

[2022-04-03 14:45] m-theredhead commented on #96
This issue seems to have gone away for me in the last week or so.   Not sure if some of the recent HA updates fixed it or what.   Anyone else now no longer seeing the issue?

[2022-04-03 19:24] allistermaguire commented on #96
It looks like Obit B-Hyve has fixed/reimplemented the `watering_complete` event for the irrigation controllers. Probably related to the new Obit B-Hyve app released last week.

[code]

[2022-04-10 16:14] holger-tangermann opened #116 "Python Script Error bhyve_next_watering"
**Describe the bug**
when calling the script in HA via developer tools page with
<<
service: python_script.bhyve_next_watering
data: {entity_id: switch.beet_zone, switch.rasen_seite_zone, switch.tropfbewasserung_zone, switch.rasenflache_zone}

I get an error (see log below)

**Expected behaviour**
creates or updates entities named sensor.{zone_name}_next_watering and sensor.{device_name}_rain_dela

[2022-04-11 10:03] joselaya opened #117 "Configuration error"
Hi all, I am new to this device and I am trying to set it up on my HA.

I have already done the bhyve download (from HACS) but I don't understand what data exactly I need in my Yaml.

Please any help? Thanks 🙏

**Describe the new device**
Orbit 21004 B-hyve

**Logs**
Configuration error

Step 1: Enable debugging.

`configuration.yaml`
bhyve:
  username: email
  password: xxx

sensor:
    - platfor

[2022-05-02 11:05] TommySharpNZ opened #120 "Show current water consumption?"
From what I can tell the attributes of the sensor.zone_1_zone_history entity will show me some stats like total water consumption for the last watering event.

Is it possible to show the current and daily total consumption somehow maybe as it's own entity?

[2022-05-02 11:26] sebr commented on #116
I suspect the issue is the `ä` character being invalid for HA entities. I don't have plans to fix this anytime soon due to time, perhaps you could submit a small change via a PR?

[2022-05-03 03:03] gdreelin opened #123 "Support with B-hyve XD"
**Describe the new device**
This is the newer version of the smart hose time #24511P  and uses the newer hub #21008. I would love to get this newer version to work in Home Assistant.

[2022-05-03 04:02] sebr commented on #123
Can you please describe what the current behaviour is when using this device with the integration?

[2022-05-03 23:55] sebr commented on #123
According to [this comment](https://github.com/sebr/bhyve-home-assistant/discussions/56#discussioncomment-2385300) the BHyve XD device works.

If you are having trouble with it please provide detailed information on what behaviours you are seeing.

[2022-05-03 23:55] #123 closed

[2022-05-04 00:00] gdreelin commented on #123
Well ok I must have done something wrong. I will give it another try.  Thanks for researching it.

[2022-05-09 13:25] jgarbayo opened #125 "Obtain error: "entity_category must be a valid EntityCategory instance""
**Describe the bug**
 When starting Home assistant the following error  is received in the bhyve input. It only appears for the switch entity and the sensor entity, it does not appear for bynary-sensor

Logger: homeassistant.components.switch
Source: helpers/entity_registry.py:382
Integration: Interruptor (documentation, issues)
First occurred: 14:58:10 (2 occurrences)
Last logged: 14:58:10

Error

[2022-05-09 23:01] txwindsurfer commented on #125
I am also getting this same error after installing HS 22.5.3

[2022-05-09 23:18] sebr commented on #125
Are you using version `2.2.2` of the integration?

[2022-05-10 09:06] jgarbayo commented on #125
First of all , thanks for the integration Sebr, i´m from spain, and my english is not so good, sorry.
I´m runing de version 2.2.1, in fact i reloaded the intergration thru "HACS" the integration and apears de 2.2.1 versión again. In my case the core version is  HS 22.5.2.

How can i upgrade to 2.2.1? i´m not an expert in programing!

[2022-05-10 11:04] sebr commented on #125
Thanks, that is odd indeed! I published [version `2.2.2`](https://github.com/sebr/bhyve-home-assistant/releases/tag/2.2.2) a month ago...

[2022-05-10 15:52] txwindsurfer commented on #125
I am also very, very thankful for your work on this integration.  I am seeing the same thing as @jgarbayo when I look for a new version or attempt to redownload. The lastest version appears to be 2.2.1.  I did redownload the "main" version which shows up at the bottom of the list.  This version does not produce any errors and inspecting the integration shows a version number of 5158382.  Could thi

[2022-05-10 16:14] jgarbayo commented on #125
At the bottom of what list, please?

[2022-05-10 20:33] txwindsurfer commented on #125
@jgarbayo go to HACS, Integrations, Orbit then the 3 dots. Select redownload and the arrow in the Select Version list.  Main is at the bottom of this list

[2022-05-11 14:28] PaulWilson859 opened #127 "Installing"
I have been trying to figure out how to install Bhyve.  I have downloaded it through HACS but when i got to install in home assitant nothing shows up.

[2022-05-13 01:29] kkellner opened #128 "Upgraded to v2.2.3 and now get error 500 on startup from bhyve"
**Describe the bug**
Upgraded to v2.2.3 (also upgraded to 2022.5.3 from 2022.4.x of HA at the same time).  Now at startup of HA I don't have any bhyve devices/entities.  When I look at the log files, I see: Unexpected error 500, message='Invalid response status', url=URL('wss://api.orbitbhyve.com/v1/events')

**BHyve devices**
Normally I would have about 7 zones (a 6 zone timer and 1 hose timer) s

[2022-05-13 01:38] kkellner commented on #128
FYI, I downgraded to v2.2.2 and its working again.

[2022-05-13 11:33] jgarbayo commented on #125
Yes, thankyou very much, now works with no errors. Grat itegration!  MAny thanks!

[2022-05-15 21:07] realcanadrian commented on #128
I'm seeing the same on 2.2.3, and downgrading to 2.2.2 also fixes it for me.

[2022-05-16 10:12] #125 closed

[2022-05-17 01:03] sebr commented on #96
I haven't seen this issue in a long time, hoping it has resolved itself. Please reopen if it appears again!

[2022-05-17 01:03] #96 closed

[2022-05-17 01:04] sebr commented on #83
I've just released version `3.0.0-beta0` which uses the Home Assistant config flow (ie - UI based configuration). This means that any failures in the initial setup will be caught and errors will be reported in the UI with an opportunity to try again.

[2022-05-17 01:04] #83 closed

[2022-05-17 05:32] jweston2112 opened #131 "Binary Sensor does not load in `3.0.0-beta0`"
**Describe the bug**
After loading and Configuring Beta 3.0.0

An Error appears in the Log after core Restart

Logger: homeassistant.setup
Source: setup.py:298
First occurred: 1:14:19 AM (1 occurrences)
Last logged: 1:14:19 AM

Unable to prepare setup for platform bhyve.binary_sensor: Platform not found (No module named 'homeassistant.components.bhyve').

**Expected behaviour**

No error in Log

*

[2022-05-17 05:41] jweston2112 commented on #131
[config_entry-bhyve-acab942cf181da63901732cbb796b2f7.json.txt](https://github.com/sebr/bhyve-home-assistant/files/8705453/config_entry-bhyve-acab942cf181da63901732cbb796b2f7.json.txt)

The Diagnostic Info  Download file ... in case that give you more insight...

I had also restarted ang had gotten additional messages but they were to indicate that the Yaml entries were still in the configuration a

[2022-05-17 06:11] sebr commented on #131
Thanks @jweston2112 - I'll take a look asap but hopefully it doesn't impact your environment! It doesn't look like you have any entities which would create a `binary_sensor`

[2022-05-17 06:56] jweston2112 commented on #131
No Worries  ... I guess when I get update notices I should read them a bit more carefully... (I missed it was a beta).

 My Config was just Like your example in the repository
![image](https://user-images.githubusercontent.com/70152549/168747005-794a15f6-b131-4e4e-9df5-7d5009de2161.png)

So I dont know if it is some kind of hold over from that as you can see there was a binary_sensor in that confi

[2022-05-17 07:02] jweston2112 commented on #131
this maybe what I had just mentioned..

[code]

[2022-05-17 11:31] neldonado opened #132 "Unable to add multiple devices"
**Describe the bug**
I added a new hose timer + hub, both are accessible through the Bhyve app, but only the first device is showing up in Home Assistant.

**Expected behaviour**
Both timers should show up in home assistant

**BHyve devices**
2 timers and 2 wifi hubs

**Logs**
2022-05-17 04:17:16 WARNING (MainThread) [custom_components.bhyve.pybhyve.websocket] Websocket is stopped, exiting loop

S

[2022-05-17 13:38] gdlesage commented on #131
Great update!

I am seeing same log error, but does not affect function of integration

Logger: homeassistant.setup
Source: setup.py:298
First occurred: 9:32:05 AM (1 occurrences)
Last logged: 9:32:05 AM

Unable to prepare setup for platform bhyve.binary_sensor: Platform not found (No module named 'homeassistant.components.bhyve')

[2022-05-17 23:28] neldonado commented on #132
I am on 2.2.3

[2022-05-18 00:20] sebr commented on #132
Can you please try the beta, version `3.0.0-beta1` which will allow you to add devices from the UI. This will show all the available devices. If it still doesn't work, please go to the device and download the "Diagnostics" and attach to this issue?

<img width="858" alt="Screen Shot 2022-05-18 at 10 19 22 am" src="https://user-images.githubusercontent.com/81972/168932559-424aec32-8fe1-4283-b681-8a

[2022-05-18 00:35] neldonado commented on #132
[config_entry-hacs-d0c368d60cef11ebb5aed1e96ef0ba2c.json.txt](https://github.com/sebr/bhyve-home-assistant/files/8712342/config_entry-hacs-d0c368d60cef11ebb5aed1e96ef0ba2c.json.txt)

![image](https://user-images.githubusercontent.com/46225185/168933839-99f1a65f-afeb-435e-8b8e-04c3bbfcc771.png)

[2022-05-18 00:52] neldonado commented on #132
it seems like it's not even recognizing my device?

[2022-05-18 04:40] sebr commented on #132
It looks like you are looking at the HACS integration page, as the diagnostics are not for the b-hyve integration.

Can you please try find the b-hyve device page? Thanks!

[2022-05-18 04:41] #131 closed

[2022-05-18 11:48] neldonado commented on #132
I can't find a B-Hyve device page.

My config was copied from the docs, I have double checked my !secrets so I know those are correct.

[2022-05-18 22:12] sethhere04 opened #133 "Add soil moisture % sensor"
Is it possible to add the soil moisture % as a sensor reported to HA?

[2022-05-19 00:01] sebr commented on #132
Can you please complete the debugging steps and provide me with the data so I can look into it?

Step 1: Enable debugging.

Add the following to configuration.yaml and then restart Home Assistant.

[code]

Step 2: Check Home Assistant logs

* Open `home-assistant.log`
* Identify lines which begin with:

[code]

Copy these two lines and paste them below.

[2022-05-19 00:02] sebr commented on #133
@sethhere04 I don't have any of these devices so unfortunately I can't add them. If you are willing to share your account (or create a new one) with me I could take a look.

[2022-05-19 00:13] neldonado commented on #132
I've followed those steps and nothing for those two debugs show up in my logs.

[2022-05-19 00:16] sebr commented on #132
Are you willing to share your entire log file?

[2022-05-19 00:34] neldonado commented on #132
is that safe to do?

[2022-05-19 00:50] sebr commented on #132
Should be fine, but you should give it a quick skim to be certain. Plenty of others have shared with me. You can email me if you prefer not to post publicly

[2022-05-19 00:53] sebr commented on #132
Please send to flak_09_threads@icloud.com

[2022-05-19 01:02] neldonado commented on #132
done.

[2022-05-19 02:26] neldonado commented on #132
I corrected the YAML file. After restarting this is the only log for bhyve that shows up.

[code]

[2022-05-19 05:48] dahem0n commented on #128
Looks like 2.2.3 fixes an issue in Home Assistant Core 2022.5.5, but causes an issue on Home Assistant Core 2022.5.4 where 2.2.2 works fine

[2022-05-19 15:32] AnthonyBe commented on #133
I came here to ask the exact same question!

[2022-05-22 01:42] sebr commented on #133
Got it, will take a look and see what I can do!

[2022-05-22 07:47] allistermaguire commented on #133
Hey @sebr, not sure if this is helpful, but moisture is part of the landscape object which you can get with the get_landscape() function. You need to calculate it, percentage = available_water / (field_capacity_depth - replenishment_point) * 100

[2022-05-23 22:22] fireheadman opened #134 "3.0.0 beta should carry over config from `configuration.yaml`"
redownloaded and selected Beta version (latest).
installed it, then restarted.

everything pertaining to orbit was unavailable.

If there is something I missed, please let me know and will retry

[2022-05-23 22:48] sebr commented on #134
Hi @fireheadman - any more details you can provide about what you've looked at would be helpful. For example, in the Integrations & Services settings page is BHyve listed? If not, can you select "+ Add integration" and add a BHyve config? It's possible the config wasn't carried over correctly.

Separately, were there any logs you could provide?

[2022-05-23 23:25] fireheadman commented on #134
I did not see it in the integrations page, was expecting to see that.
I will go back through the process once more this evening/tomorrow.

On Mon, May 23, 2022 at 4:49 PM Seb Ruiz ***@***.***> wrote:

[2022-05-25 01:18] disforw commented on #134
I just upgraded to your beta, rebooted and manually added via config flow. You must remove all elements of this integration from the config.yaml file before adding it config flow (the transfer over is broke). I can confirm that this is working perfectly and no errors in the log file!!! Great job! I have a 6 zone controller, a 2 zone XD hose controller, and 5 flood sensors (see attached image). ALL

[2022-05-25 12:52] AnthonyBe commented on #134
I'm a little confused here.

I was using v2.2.3 of the BHyve integration just fine and then it stopped working entirely when I updated HACS to v1.25.1

I've tried updating the BHyve integration to 3.0.0 beta 1, and removed the manual YAML config from my configuration.yaml, but the integration isn't appearing anywhere for me to add.
I've also tried removing the BHyve repository from HACS, restartin

[2022-05-25 13:17] disforw commented on #134
Sorry, here are the steps I took when upgrading from 2.2.3 to 3.0.0B1.

1. download upgraded code via HACS
2. reboot
3. +Add Integration Orbit BHyve (Settings -> Integrations)
4. Worked, looked good!
5. Rebooted and it broke (errors indicating could not load platform from sensor.yaml...)
6. removed all related code from configuration.yaml including sensor and switch
7. deleted all related unavaila

[2022-05-25 18:51] fireheadman commented on #134
I uninstall the manual (non Beta) version from HACs
Renamed all my yaml files to *.DISABLED
rebooted
downloaded the latest Beta version in HACS
rebooted

I can see bhyve in /config/custom_components/bhyve   (even watched it download while doing a tail -f home-assistant.log)
rebooted once more

I do not see the integration in HA... searched for Orbit and Bhyve, even went through the entire list.
Ho

[2022-05-25 19:15] fireheadman commented on #134
I like it!.... really no change from previous other than having devices and the integration inside HA
Still waiting to bring water online at house, then my graphs will populate
![image](https://user-images.githubusercontent.com/19847195/170349837-f7fe25aa-ecb8-475c-b9f0-f8349602ed31.png)

![image](https://user-images.githubusercontent.com/19847195/170350001-a6e1193f-eadc-433a-bccd-f366dfb66510.png

[2022-05-25 19:16] fireheadman commented on #134
oh and the sensors I created for the graph are:

[code]
[code]
[code]

[2022-05-26 03:50] sethhere04 opened #135 "Beta missing the set moisture level service?"
Is the Beta missing the set moisture level service? If so, will it be added back?

[2022-05-26 03:55] fireheadman commented on #134
not sure if this is the correct place to submit this info...
Seeing this in logs since going to the beta version...

[code]

[2022-05-26 06:14] sebr commented on #134
No, this is just the b-hyve API being rubbish. It has nothing to do with the beta.

[2022-05-28 16:13] dcmeglio opened #136 "Beta setup instructions?"
I installed 3.0.0-b1 via HACS, now what? It says to configure using the UI. I click Add Integration. I can't find anything that appears related to this integration. What am I missing?

[2022-05-28 22:03] sebr commented on #136
Others have reported that you might need to do a hard refresh of your browser for the b-hyve integration to show up

[2022-05-29 01:06] dcmeglio commented on #136
Yup that’s what it was. Haven’t had to do this with other integrations though.

[2022-05-29 10:12] #136 closed

[2022-05-29 11:40] sebr commented on #135
Fixed and released in 3.0.0-beta2. Thanks for raising!

[2022-05-29 11:40] #135 closed

[2022-06-02 20:34] stamandr opened #137 "Integration does not support platform setup in Home assistant"
Getting the following errors in Home Assistant after updating to Beta 2

The bhyve platform for the switch integration does not support platform setup. Please remove it from your config
The bhyve platform for the binary_sensor integration does not support platform setup. Please remove it from your config.
The bhyve platform for the sensor integration does not support platform setup. Please remove

[2022-06-02 22:33] sebr commented on #137
Thanks for the report, this duplicates #134

[2022-06-02 22:33] #137 closed, assigned to sebr

[2022-06-17 14:01] saqibbutt-dnd commented on #53
hi @jjprz I am still seeing this how did u resolve this? Thanks

[2022-07-01 19:03] fouram opened #140 "Confirming support for XD2 and XD4 multiport hose timers with Gen 2 hub"
I wanted to confirm that I have gotten I’ve gotten this integration working with several XD series hose timers, both the two- and four-port varieties, along with using the Gen 2 hub. Please let me know if you need any more information.

[2022-07-02 01:44] KidA001 opened #142 "Switch Entities go on/off/on when toggling, some do not stay on"
**Describe the bug**
When toggling a zone switch, the state goes to on, then off, then back to on. They are extremely delayed at time, up to 1-2min before the switches reflect the actual state. Sometimes they cannot be turned off. HA will display them as off but they are still running. I have tested this on `2.2.3`, `3.0.0-beta2` and the new `3.0.0` release

**Expected behaviour**
The switch stays

[2022-07-02 14:58] thirtytwobits commented on #134
The documentation for this readme is inadequate. It simply states "This integration should be configured from the Home Assistant devices & services UI page" but it doesn't mention how. I'm inferring from this thread that the beta is supposed to contribute an integration available by clicking the +integration button under Devices & Services? I do not see any such integration after I install the bet

[2022-07-02 22:22] sebr commented on #134
@thirtytwobits you happened to stumble upon it in between some work I've been doing on the integration to support UI configuration.

Yes you are correct in everything you have written, but since this is something I do in my spare time, some kindness in your tone would be appreciated.

For now please read the documentation for the 2.x tag

[2022-07-02 22:44] disforw commented on #134
@sebr, I have been following this project from the beginning, I use quite a bit of Bhyve products. Your dedication and work here is appreciated tremendously.
Perhaps @thirtytwobits would like to create a PR and submit his own revised documentation?

[2022-07-03 04:55] #134 closed

[2022-07-03 10:22] sebr commented on #140
Thank you!

[2022-07-03 10:23] #140 closed

[2022-07-04 03:46] sebr commented on #77
Closing this off - seems to be more reliable lately. Hopefully B-hyve's servers ¯\_(ツ)_/¯

[2022-07-04 03:46] #77 closed

[2022-07-04 03:47] sebr commented on #128
Anybody seeing this anymore?

[2022-07-04 03:54] kkellner commented on #128
2022.6.7 of HA and 2.2.3 of bhyve works fine.

[2022-07-04 03:55] #128 closed

[2022-07-08 07:52] ralphmackinder commented on #142
im having the same issue. latest version of the integration.  its unusable in the current state unfortunately. the switch entity triggers the valve, but does not report state (goes on then immediately off but water keeps flowing)  Following with interest.

[2022-07-08 21:30] beehivemind commented on #142
Also having this issue with latest version.  Often there is no way to turn off the sprinklers once they have been triggered except by restarting HomeAssistant.  Once HA has been rebooted, the correct state is loaded.

[2022-07-10 11:39] holger-tangermann commented on #116
I removed the character. The script runs now.
However, the sensor values calculated by the script, do not match to the values calculated within the b-hyve app and do not fit to the runtime of the programs for the zones.
Any hint what I can do?

[2022-07-12 15:10] KidA001 commented on #142
@sebr any availability to look at this issue? Any more detail we can provide?

[2022-07-16 21:10] #82 closed

[2022-07-16 21:11] disforw opened #145 "Feature Request: Service to run program"
Have you looked in to a service that will execute a defined program?
If not I'll create a PR for it.

[2022-07-16 21:51] ObiWanCanOweMe opened #146 "B-hyve integration doesn't work correct with unnamed devices or zones"
**Describe the bug**
The integration is unable to create any switch entities

**Expected behaviour**
At least one switch entity should be created for my zone

**BHyve devices**
[code]
**Logs**
[code]

Step 1: Enable debugging.

I enabled the logger but could not find the following in the logs:

[code]

[2022-07-20 00:15] sebr commented on #145
I have not looked into this (I assume it's possible but not ever seen a way to do it). Would be great if you could investigate :)

[2022-07-20 00:17] sebr commented on #146
@ObiWanCanOweMe can you upload the device diagnostics file? Go to the device page and click the `...` link:

<img width="642" alt="Screen Shot 2022-07-20 at 10 17 16 am" src="https://user-images.githubusercontent.com/81972/179869298-3d2a33ca-f847-4a25-8e77-20757e49f914.png">

[2022-07-20 04:14] KidA001 commented on #146
@sebr are you able to give a response to this issue https://github.com/sebr/bhyve-home-assistant/issues/142 ?

[2022-07-20 10:05] sebr commented on #142
Hi folks, thanks for your patience here. Can you please attach the device diagnostics for one of the devices which exhibits this behaviour?

<img width="642" alt="Screen Shot 2022-07-20 at 10 17 16 am" src="https://user-images.githubusercontent.com/81972/179869298-3d2a33ca-f847-4a25-8e77-20757e49f914.png">

@KidA001 the debug logs don't show any event data which is needed for me to ascertain more

[2022-07-20 15:30] KidA001 commented on #142
@sebr Here are device diagnostics, working on reproducing and getting relevant the logs. @ralphmackinder do you have any details to share?

[code]

[2022-07-21 05:33] disforw commented on #145
Here are my findings when monitoring the WS. Should I just create a service that starts watering a program? Because we already have a switch to enable/disable a program, dont want to make it confusing.

**Start Water by Zone**
{"event":"change_mode","mode":"manual","program":null,"stations":[{"station":3,"run_time":10.0}],"device_id":"xXxxXxxxXXxXXxxXxxXXxxXXx","timestamp":"2022-07-21T05:15:02.000

[2022-07-21 22:15] sebr commented on #142
Thanks @KidA001. This all looks fine, so I will definitely need the event stream log to further diagnose the issue.

[2022-07-24 03:11] julianwould commented on #146
I believe I have same issue l, no switches crafted, with a new four port B-hyve.

[2022-07-24 03:20] sebr commented on #146
@julianwould Can you please upload diagnostics? Instructions are in an earlier comment. Thx

[2022-07-24 12:50] julianwould commented on #146
Yessir, diagnostics attached, appreciate the help!

[config_entry-bhyve-a2afcc8dd1b80ef0e85f8d5a7fafd54d.json.txt](https://github.com/sebr/bhyve-home-assistant/files/9175814/config_entry-bhyve-a2afcc8dd1b80ef0e85f8d5a7fafd54d.json.txt)

[2022-07-24 21:21] julianwould commented on #146
All working now, it was hub/timer connection issue. Resolved by updating firmware. Thanks @sebr

[2022-07-25 06:44] timknowlden opened #147 "Set manual preset time"
**Describe the bug**
Call service to set manual preset time does not change the default time from 300seconds.

**Expected behaviour**
[code]

Results in:

[code]

**BHyve devices**
Bhyve 4 sprinkler station

[2022-07-25 09:32] sebr commented on #146
@ObiWanCanOweMe how did you go with this?

[2022-07-25 09:36] sebr commented on #147
Unfortunately this functionality seems to be quite flakey, for example [this comment](https://github.com/sebr/bhyve-home-assistant/issues/86#issuecomment-957211308).

It could be related to the type of device, but I have been unable to track down any specific information.

As such I'll close this issue and update the README to clarify this as I don't intend to further investigate.

[2022-07-25 09:38] #147 closed

[2022-07-30 20:57] ObiWanCanOweMe commented on #146
Sorry for the delay in my response, here's the diagnostic:

[config_entry-bhyve-a7d026a896becfaa4ca243c42b773011.json.txt](https://github.com/sebr/bhyve-home-assistant/files/9227573/config_entry-bhyve-a7d026a896becfaa4ca243c42b773011.json.txt)

[2022-07-31 14:33] heffneil opened #148 "sensor.pool_water_valve_zone_history status: complete"
sensor.pool_water_valve_zone_history is showing status: complete even when it is running.

**Expected behaviour**

Seems like the status should show :running or active when the program itself is running?

**BHyve devices**
Smart Hose Tap with Wi-Fi Hub

[2022-08-01 00:08] sebr commented on #148
Likely a duplicate of #142. If you do not believe this is the case please reopen and provide more detailed information (logs with debug enabled, device diagnostics, other steps to reproduce)

thanks!

[2022-08-01 00:10] heffneil commented on #148
I am looking at the status of the program which is running for 2 hours and during that entire time, it shows completed. Perhaps, since it part of history it will only show completed.  How would one know when the program is running realtime? WIthin switch?

[2022-08-01 00:17] sebr commented on #148
Zone History shows when individual times which the program was run - not currently active status.

The event data does show which program started, but it is not currently available on the switch attributes. I'll see about adding this. See the example here, which shows `program: a` (as opposed to `manual`)

[code]

[2022-08-02 02:13] heffneil commented on #148
Does the switch state of the valve change when the program is running?  I am looking to trigger the completion of the program and notify of the quantity of water used.  I changed my trigger on pool water valve zone [switch.pool_water_valve_zone] but that status didn't change today despite the program running and water being released. Thanks!

[2022-08-05 12:31] BlackandBlue1908 opened #149 "Native Bluetooth"
I May be asking for the moon here but would be awesome if this could use the new native Bluetooth integration. Could circumvent the need for the hubs altogether and give full local control.

[2022-08-05 12:38] sebr commented on #149
This is not something I have plans to investigate, however I will leave the issue open; I imagine you won't be the first or last to request this 😄.

It may also be helpful as a future reference should anybody wish to collect or share any reverse engineered bluetooth dumps that could be used to implement this request in the future.

[2022-08-18 22:38] NotSteveAtGithub opened #152 "Loses connection over time"
**Describe the bug**
Any time I start HA, I'm able to start and stop watering from the UI and from automations.  However, over a day (or a few), it eventually stops working.  The log shows this message when a command fails:

2022-08-18 17:31:13.598 WARNING (MainThread) [custom_components.bhyve.pybhyve.websocket] Tried to send message whilst websocket closed; state: starting

**Expected behaviour**

[2022-08-19 19:37] peterf9 commented on #152
I'm having the same issues. This is my log:

Este erro originou-se de uma integração personalizada.

Logger: homeassistant.helpers.entity
Source: custom_components/bhyve/pybhyve/client.py:73
Integration: Orbit B-hyve (documentation)
First occurred: 16:21:25 (108 occurrences)
Last logged: 16:34:26

Update for sensor.zone_history fails
Update for sensor.zone_history_2 fails
Update for sensor.zone_hi

[2022-08-23 17:09] spiralfive opened #153 "Setup Not Working"
Hello, I have been trying to setup this integration now for the past week. I installed this via HACS and then went to 'Add Integration'. The option appears and it prompts me for my login information, however after doing this I get an error each time in the GUI of "Failed to Connect". This is why I tried this over several days, I was thinking maybe the servers were down.

I am using the following H

[2022-08-25 05:48] Lokilicious commented on #142
@sebr I have the same problem and checked the logs already - I could observe that at some point the component receives a Client connection error

`2022-08-25 01:09:44.139 ERROR (MainThread) [custom_components.bhyve.pybhyve.websocket] Client connection error; state: starting`

after this connection retries seem to fail multiple times

`2022-08-25 01:10:15.027 ERROR (MainThread) [homeassistant.helpe

[2022-08-28 08:08] meremortals70 opened #154 "Found this in checkin HA LOGS"
Logger: homeassistant.components.sensor
Source: helpers/entity_platform.py:193
Integration: Sensor (documentation, issues)
First occurred: 5:45:48 PM (1 occurrences)
Last logged: 5:45:48 PM

The bhyve platform for the sensor integration does not support platform setup. Please remove it from your config.

I have two hubs in my system, one Gen1 and one Gen2.

![image](https://user-images.githubuserc

[2022-08-29 10:12] sebr commented on #154
Did you recently upgrade from 2.x to 3.x?

[2022-08-30 09:22] Lokilicious commented on #142
@sebr should be resolved by https://github.com/sebr/bhyve-home-assistant/pull/155

[2022-08-30 09:23] Lokilicious commented on #152
@sebr should be resolved by https://github.com/sebr/bhyve-home-assistant/pull/155

[2022-08-30 09:30] sebr commented on #142
@Lokilicious thanks so much! Good catch. Very hard to reproduce or test these connection errors.

[2022-08-30 09:38] #152 closed

[2022-08-30 11:09] sebr commented on #142
Thanks so much @Lokilicious - I have released v 3.0.1 which incorporates this fix. I'll close this issue but please reopen if it appears that the issue is still around.

[2022-08-30 11:09] #142 closed

[2022-08-30 11:12] sebr commented on #153
Hi @spiralfive , can you please update to version `3.0.1` which includes some extra debug logging. You'll need to add the following into `configuration.yaml`:

[code]

Please restart after adding this & updating, then check the logs for a line which starts with `Devices: ` and please paste the output here.

Thanks!

[2022-08-30 11:16] sebr commented on #146
@ObiWanCanOweMe sorry for the delay on this, but I had a look and it appears that your "Spare" sprinkler has a zone which doesn't have a name. To resolve the issue you probably just need to give it a name, but it would also be helpful to understand how you got into this state so I can try reproduce and improve the integration to handle this edge case.

[code]

[2022-08-30 16:00] ObiWanCanOweMe commented on #146
Amazing, I removed the "Spare" sprinkler, restarted HA, and that fixed it!
Long story short, thought I lost the sprinkler unit over the winter and bought a replacement. Once I got the replacement I found the original one (of course). I renamed the original to "Spare" and removed it from the zone.

[2022-08-31 00:23] sebr commented on #153
Can you check if there are any Devices or Zones which are unnamed in your B-hyve app? I think this might be the root cause.

[2022-08-31 00:26] spiralfive commented on #153
That was it! The last timer I added had a blank name set, I didn’t realize that. I have it a name and it immediately started working. Thank you!

[2022-08-31 00:26] #153 closed

[2022-09-01 09:57] meremortals70 commented on #154
Found the problem, still had an entry in my sensor.yaml after a whole lot of commented out entries

[2022-09-01 10:01] meremortals70 opened #156 "ConnectionResetError: Cannot write to closing transport"
**Describe the bug**
System Error in HA Logs after installing 2022.9 beta

This error originated from a custom integration.

Logger: homeassistant
Source: custom_components/bhyve/pybhyve/websocket.py:57
Integration: Orbit B-hyve (documentation)
First occurred: 7:33:36 PM (1 occurrences)
Last logged: 7:33:36 PM

Error doing job: Task exception was never retrieved
[code]

Please let me know if you n

[2022-09-02 03:48] #154 closed

[2022-09-05 05:29] skarragallagher commented on #145
i would love to see this implemented

[2022-09-12 06:25] AlohaFlyer commented on #149
I love to see this implemented. I have been having some cloud latency with this recently.

[2022-10-05 13:45] doe81 commented on #133
+1 on this feature.

[2022-10-15 02:25] Viss opened #159 "How do you update the password?"
I've had to reset the password to my bhyve account, and now this integration isn't working. How do I update the credentials?